page-my-takit {
    .item-historyTitle{
        vertical-align: bottom;
    }

    ion-scroll {
        height: 180px;
        
    }

    #Slides{
        height: 130px;
    }
    // .swiper-slide{
    //     height: 180px;
    // }

    .slides-history{
        vertical-align: top;
        height: 160px;
    }

    .historyScroll .scroll-content{
        // padding: 0px;
        padding: 0px 0px 0px 10px;
    }

    .card-ios{
        margin: 3px 2px 2px 3px;
    }

    .card-history{
        overflow: inherit;
        width : 33.3333%;
        height: 155px;
    }

    .card-history >button{
        height: 155px;
    }

    .card-history > button .button-inner{
        display: block;
    }

    .swiper-slide img {
        width:100%; 
        height: 110px;
    }

    .card-content-ios{
        padding: 0px;
    }

    .slidebar{
        width:10px;
        height: 10px;
    }



    //
    .card-shop{
        width: 100%;
        height: 120px;
    }

    .card-shop > ion-row{
        width: 100%;
        height: 120px;
    } 
    .card-shop > ion-row > ion-col {
        width: 120%;
        height: 120px;
    }

    .card-content-ios{
        padding: 0px;
    }

    .img-shop{
        width: 100%;
        height: 110px;
    }

    .btn-shop{
        height: 120px;
    }

}
