<!--
  Generated template for the MyWallet page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar hideBackButton="true" >
      <ion-buttons start>
        <button  (click)="goHome()" class="hearder-icon" ion-button color="mainColor" clear>
            <ion-icon name="icon-logo" color="mainColor"></ion-icon>
        </button>
      </ion-buttons>

    <ion-title *ngIf="isTestServer==true">검증</ion-title>
    <ion-buttons end>
        <button class="hearder-icon" ion-button clear (click)="search()">
            <ion-icon name="search" color="mainColor" ></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="bg-sub1" padding>
    <!--
    <ion-segment [(ngModel)]="myWalletType" class="wallet-type">
        <ion-segment-button class="segment-type" value="cash">
        캐쉬
        </ion-segment-button>
        <ion-segment-button class="segment-type" value="card">
        카드
        </ion-segment-button>
  </ion-segment>
  -->
<div class="bg-white">
    <p class="p-title" >캐쉬</p>

  <!--mywallet cash-->

  <div *ngIf="myWalletType==='cash'" class="div-cashInfo">
    <div class="div-cashId-area">
        <span class="span-cashId">{{storageProvider.cashId}}</span>
        <button no-margin no-padding ion-button clear color="white" (click)="enterCashConfigure()"><ion-icon name="icon-setting"></ion-icon></button>
    </div>
    <div class="div-cash-amount-area">
        <span class="span-cash-amount">{{(storageProvider.cashAmount*1).toLocaleString('en')}}</span> <span>원</span>
    </div>
     <div class="div-btn-area">
        <button (click)="deposit()" ion-button color="white" no-margin small outline>충전</button>
        <button (click)="withdraw()" ion-button color="white" no-margin small outline>환불</button>
    </div>
  </div>
 <button (click)="showTransactionHistory()" ion-button full no-padding no-margin icon-start clear color="mainColor">
       <ion-icon name="icon-history2" ></ion-icon>거래 내역 모두 조회</button>
</div>
  <!--mywallet credit-card-->
  <!--
  <ion-card *ngIf="myWalletType==='card'" class="card-cash-card" >
      <ion-card-content no-padding>
          <ion-scroll scrollX="true" class="scroll-cardList" >
              <br><br>
            <ion-row  class="scroll-row-cardList">
                <ion-col *ngFor="let card of cardList" class="scroll-col-card" >
                <img [src]="storageProvider.awsS3OCR+card.img" class="img-card">
                <br>
                <h1 text-center>{{card.name}}</h1>
                </ion-col>
            </ion-row>
          </ion-scroll>
      </ion-card-content>
  </ion-card>
-->
<!--
  <div class="div-coupon">
      <p class="p-title">내 쿠폰</p>
      <!-- <div *ngFor="let coupon of strageProvider.couponList">
          <img [src]="storageProvider.awsS3+coupon.imagePath">
          <p>{{coupon.couponName}}</p>
          <p>~{{coupon.expireTime}}</p>
      </div> 
  </div>-->
</ion-content>
