<!--<ion-header class="shophomeHeader">
  <ion-navbar>
    <ion-title>
    <ion-row>
      <ion-col width-80>
        {{shopname}}
      </ion-col>
      <ion-col *ngIf="storageProvider.shopResponse.shopInfo.contactPhone!=null">
        <a [href]="shopPhoneHref"><ion-icon width-20 color="black" name="call"></ion-icon></a>
      </ion-col>
    </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>-->

<ion-header>
  <ion-navbar hideBackButton="true" >
    <ion-buttons start>
        <button (click)="back()" class="nav-btn" color="subColor2" small ion-button no-margin clear>
            <ion-icon name="icon-logo"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>{{shopName}}</ion-title>
     <ion-buttons end>
        <button (click)="showShopAbout()" color="subColor2" class="nav-btn" small ion-button no-margin clear>
        <p>about</p>
        </button>
     </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll" #shophomeContent>
    <ion-slides #BestMenusSlides class="slides-bestMenus" [hidden]="menuSlideUp || bestMenus.length===0">
        <ion-slide *ngFor="let menu of bestMenus" >
            <!-- <button (click)="showBestMenus()" ion-button full no-padding no-margin class="btn-bestMenus" > -->
            <div class="div-bestMenus-container" [ngStyle]="{'background':'url('+storageProvider.awsS3+menu.imagePath+') no-repeat','background-size':'100% 200px'}">
                <button (click)="bestMenuClick(menu)" clear ion-button>
                <!--<button (click)="showLeftBest()" class="btn-prev" ion-button color="transparent" ><ion-icon name="ios-arrow-back" color="grey" ></ion-icon></button>-->
                <!--<button class="slide-button" (click)="showLeftBest()" ion-button color="transparent" style="margin-right:60%; font-size:50px;"><ion-icon name="ios-arrow-back" color="grey" ></ion-icon></button>-->
                <!-- <img [src]="storageProvider.awsS3+menu.imagePath"> -->
                <div class="p-name">{{menu.menuName}}</div>
                <!--<button (click)="showRightBest()" class="btn-next" ion-button color="transparent" no-padding><ion-icon name="ios-arrow-forward" color="grey"></ion-icon></button>-->
                </button>
            </div>
            <!-- </button> -->
        </ion-slide>
    </ion-slides>
    <ion-row class="row-shopInfo" [hidden]="menuSlideUp">
        <ion-col>
            
            <p no-margin>{{shopName}}</p>
            <p no-margin>{{businessType}}</p>   
        </ion-col>
    </ion-row>
    <div class="icon-shopInfo" [hidden]="menuSlideUp">
        <ion-icon name="icon-atRestaurant_2" color="mainColor" *ngIf="(takeout < 3)"></ion-icon> 
        <ion-icon name="icon-atRestaurant_2" color="grey" *ngIf="!(takeout < 3)"></ion-icon> 
        <ion-icon name="icon-takeOut_2" color="mainColor" *ngIf="takeout>=1"></ion-icon>
        <ion-icon name="icon-takeOut_2" color="grey" *ngIf="takeout===0"></ion-icon>
        <ion-icon name="icon-delivery_2" color="mainColor" *ngIf="takeout===2 || takeout===4"></ion-icon>
        <ion-icon name="icon-delivery_2" color="grey" *ngIf="takeout<=1 || takeout===3"></ion-icon> 
    </div>

<!--
    <ion-row class="row-takeout" [hidden]="menuSlideUp">
        <ion-col>
            <ion-icon name="heart">
            </ion-icon>
            <p>내매장</p>
        </ion-col>
        <ion-col>
            <ion-icon name="md-radio-button-off">
            </ion-icon>
            <p>takeout</p>
        </ion-col>
        <ion-col>
            <ion-icon name="md-radio-button-off">
            </ion-icon>
            <p>table-24</p>
        </ion-col>
        <ion-col>
            <ion-icon name="md-radio-button-off">
            </ion-icon>
            <p>takeout</p>
        </ion-col>
    </ion-row>-->



    <div [@slideUp]="slideUpState" class="div-menus1" [hidden]="menuSlideUp">
        <button (click)="clickMenuArea()" class="btn-menus1" no-padding no-margin clear ion-button>
            <ion-row (click)="slidePressed()" class="row-menubar">
                <ion-col class="col-menubar bg-sub1">
                    <ion-icon name="md-menu" color="white">
                    </ion-icon>
                </ion-col>
            </ion-row>
            <ion-row class="row-categories-menus bg-sub1">
                <ion-col class="col-categories">
                    <ion-scroll scrollY="true" class="scroll-menus no-scroll">
                        <ion-segment [(ngModel)]="categorySelected" *ngFor="let category of categories" class="segment-categories" color="subColor2" no-padding no-margin>
                            <ion-segment-button [value]="category.sequence"  disabled="true">
                                <p>{{category.categoryName}}</p>
                            </ion-segment-button>
                        </ion-segment>
                    </ion-scroll>
                </ion-col>
                <ion-col  class="col-menus">
                    <ion-scroll scrollY="true" class="scroll-menus no-scroll">
                    <ion-list class="radius-5" *ngFor="let menu of nowMenus">
                        <div>
                            <img class="img-shop" [src]="storageProvider.awsS3+menu.imagePath">
                        </div>
                        <div>
                            <p>{{menu.menuName}}</p>
                            <p>{{(menu.price*1).toLocaleString('en')}}</p>
                        </div>
                    </ion-list>
                    </ion-scroll>
                </ion-col>
            </ion-row>
        </button>
    </div>

    <div class="div-menus2" [hidden]="!menuSlideUp">
        <button (click)="slidePressed()" class="btn-menubar"  no-padding no-margin clear ion-button>
            <ion-row  class="row-menubar ">
                <ion-col class="col-menubar bg-sub1">
                        <ion-icon name="md-menu" color="white">
                        </ion-icon>
                </ion-col>
            </ion-row>
        </button>
        <ion-row class="row-categories-menus bg-sub1">
            <ion-col class="col-categories">
                <ion-scroll scrollY="true" class="scroll-categories">
                    <ion-segment [(ngModel)]="categorySelected" *ngFor="let category of categories" class="segment-categories" color="subColor2" no-padding no-margin>
                        <ion-segment-button (click)="categoryChange(category.sequence)" [value]="category.sequence" >
                            <p>{{category.categoryName}}</p>
                        </ion-segment-button>
                    </ion-segment>
                </ion-scroll>
            </ion-col>
            <ion-col class="col-menus">
                <ion-scroll scrollY="true" class="scroll-menus">
                    <ion-list  *ngFor="let menu of nowMenus" class="radius-5" >
                        <button (click)="menuSelected(menu.menuName)" clear ion-button>
                            <div>
                                <img class="img-shop" [src]="storageProvider.awsS3+menu.imagePath">
                            </div>
                            <div>
                                <p>{{menu.menuName}}</p>
                                <p>{{(menu.price*1).toLocaleString('en')}}</p>
                            </div>
                        </button>
                    </ion-list>
                </ion-scroll>
            </ion-col> 
        </ion-row>
    </div>

    

    <ion-fab bottom color="white" bottom right>
        <button class="fab-btn" ion-fab color="white">
            <ion-icon name="icon-floating_open">
            </ion-icon>
        </button>
        <ion-fab-list side="left">
            <button class="btn-shadow" (click)="enterCart()" ion-button color="white">
                <ion-icon name="icon-cart"></ion-icon>
            </button>
            <button class="btn-shadow" (click)="enterOldOrder()" ion-button color="white">
                <ion-icon name="icon-list_2"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>

   <!--<ion-row>
        <ion-col class="segmentButton" width-33 *ngFor="let category of categories">
            <ion-segment [(ngModel)]="categorySelected">
                <ion-segment-button [value]="category.cateogryNO" (click)="categoryChange(category.categoryNO)">
                  {{category.categoryName}}
                </ion-segment-button>
            </ion-segment>        
        </ion-col>
    </ion-row>-->
    <!--<ion-card (swipe)="swipeCategory($event)">
      <div [ngSwitch]="categorySelected" >
        <ion-list *ngSwitchCase="categorySelected">
          <ion-item *ngFor="let row of menuRows">
            <div>
              <ion-row> 
                <ion-col width-33 [hidden]="menu.hide===true" *ngFor="let menu of row.menus">
                  <button ion-button clear (click)="menuSelected(menu.category_no,menu.menuName)" class="menuImgButton"><img [src]="menu.filename"  class="menuImg" ></button>
                </ion-col>  
              </ion-row>
              <ion-row>
                <ion-col width-33 [hidden]="menu.hide===true" *ngFor="let menu of row.menus"> 
                  <p class="MenuText">{{menu.menuName}}</p>
                  <div [hidden]="hideFlag(menu.descriptionHide)" >
                  <p class="MenuText">{{menu.description}}</p>
                  </div>
                  <p class="MenuText">{{menu.price}}</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-item>
        </ion-list>            
      </div>
      <div class="Dummy">
        <br><br><br><br><br><br><br><br>
      </div>

    </ion-card>  -->

</ion-content>

