<!--<ion-header class="shophomeHeader">
  <ion-navbar>
    <ion-title>
    <ion-row>
      <ion-col width-80>
        {{shopname}}
      </ion-col>
      <ion-col *ngIf="storageProvider.shopResponse.shopInfo.contactPhone!=null">
        <a [href]="shopPhoneHref"><ion-icon width-20 color="black" name="call"></ion-icon></a>
      </ion-col>
    </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>-->

<ion-header>
  <ion-navbar hideBackButton="true" >
    <ion-buttons start>
        <button (click)="back()" class="nav-btn" color="subColor2" small ion-button no-margin clear>
            <ion-icon name="icon-logo"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>{{shopName}}</ion-title>
     <ion-buttons end>
        <button (click)="showShopAbout()" color="subColor2" class="nav-btn" small ion-button no-margin clear>
        <p>매장정보</p>
        </button>
     </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll" #shophomeContent>
    <ion-slides #BestMenusSlides class="slides-bestMenus" [hidden]="menuSlideUp || bestMenus.length===0">
        <ion-slide *ngFor="let menu of bestMenus" >
            <div class="div-bestMenus-container" [ngStyle]="{'background':'url('+storageProvider.awsS3+menu.imagePath+') no-repeat','background-size':'100% 200px'}">
                <button class="btn-bestMenus" (click)="bestMenuClick(menu)" no-margin no-padding clear ion-button>
                <!--<button (click)="showLeftBest()" class="btn-prev" ion-button color="transparent" ><ion-icon name="ios-arrow-back" color="grey" ></ion-icon></button>-->
                <!--<button class="slide-button" (click)="showLeftBest()" ion-button color="transparent" style="margin-right:60%; font-size:50px;"><ion-icon name="ios-arrow-back" color="grey" ></ion-icon></button>-->
                <!-- <img [src]="storageProvider.awsS3+menu.imagePath"> -->
                <div class="p-name">{{menu.menuName}}</div>
                <!--<button (click)="showRightBest()" class="btn-next" ion-button color="transparent" no-padding><ion-icon name="ios-arrow-forward" color="grey"></ion-icon></button>-->
                </button>
            </div>
        </ion-slide>
    </ion-slides>
    <ion-row class="row-shopInfo" [hidden]="menuSlideUp">
        <ion-col>
            
            <p no-margin>{{shopName}}</p>
            <p *ngIf="businessType" no-margin>{{businessType}}</p>   
        </ion-col>
    </ion-row>
    <div class="icon-shopInfo" [hidden]="menuSlideUp && bestMenus.length!=0">
        <ion-icon name="icon-atRestaurant_2" color="mainColor" *ngIf="(takeout < 3)"></ion-icon> 
        <ion-icon name="icon-atRestaurant_2" color="grey" *ngIf="!(takeout < 3)"></ion-icon> 
        <ion-icon name="icon-takeOut_2" color="mainColor" *ngIf="takeout>=1"></ion-icon>
        <ion-icon name="icon-takeOut_2" color="grey" *ngIf="takeout===0"></ion-icon>
        <ion-icon name="icon-delivery_2" color="mainColor" *ngIf="takeout===2 || takeout===4"></ion-icon>
        <ion-icon name="icon-delivery_2" color="grey" *ngIf="takeout<=1 || takeout===3"></ion-icon> 
    </div>

    <div [@slideUp]="slideUpState" class="div-menus1" [hidden]="menuSlideUp">
        <button (click)="clickMenuArea()" class="btn-menus1" no-padding no-margin clear ion-button>
            <ion-row (click)="slidePressed()" class="row-menubar">
                <ion-col class="col-menubar bg-sub1">
                    <ion-icon name="md-menu" color="white">
                    </ion-icon>
                </ion-col>
            </ion-row>
            <ion-row class="row-categories-menus bg-sub1">
                <ion-col class="col-categories">
                    <ion-scroll scrollY="true" class="scroll-menus no-scroll">
                        <ion-segment [(ngModel)]="categorySelected" *ngFor="let category of categories" class="segment-categories" color="subColor2" no-padding no-margin>
                            <ion-segment-button [value]="category.sequence"  disabled="true">
                                <p>{{category.categoryName}}</p>
                            </ion-segment-button>
                        </ion-segment>
                    </ion-scroll>
                </ion-col>
                <ion-col  class="col-menus">
                    <ion-scroll scrollY="true" class="scroll-menus no-scroll">
                    <ion-list class="radius-5" *ngFor="let menu of nowMenus">
                        <img class="img-shop" [src]="storageProvider.awsS3+menu.imagePath">
                        <div>
                            <p>{{menu.menuName}}</p>
                            <p>{{(menu.price*1).toLocaleString('en')}}원</p>
                        </div>
                    </ion-list>
                    </ion-scroll>
                </ion-col>
            </ion-row>
        </button>
    </div>

    <div class="div-menus2" [hidden]="!menuSlideUp">
        <button (click)="slidePressed()"  *ngIf="bestMenus.length!=0" class="btn-menubar"  no-padding no-margin clear ion-button>
            <ion-row  class="row-menubar ">
                <ion-col class="col-menubar bg-sub1">
                        <ion-icon name="md-menu" color="white">
                        </ion-icon>
                </ion-col>
            </ion-row>
        </button>
        <button  class="btn-menubar" *ngIf="bestMenus.length===0" no-padding no-margin clear ion-button>
            <ion-row  class="row-menubar ">
                <ion-col class="col-menubar bg-sub1">
                        <ion-icon name="md-menu" color="white">
                        </ion-icon>
                </ion-col>
            </ion-row>
        </button>

        <ion-row class="row-categories-menus bg-sub1">
            <ion-col class="col-categories">
                <ion-scroll scrollY="true" class="scroll-categories">
                    <ion-segment [(ngModel)]="categorySelected" *ngFor="let category of categories" class="segment-categories" color="subColor2" no-padding no-margin>
                        <ion-segment-button (click)="categoryChange(category.sequence)" [value]="category.sequence" >
                            <p>{{category.categoryName}}</p>
                        </ion-segment-button>
                    </ion-segment>
                </ion-scroll>
            </ion-col>
            <ion-col class="col-menus">
                <ion-scroll scrollY="true" class="scroll-menus">
                    <ion-list  *ngFor="let menu of nowMenus" class="radius-5" >
                        <button (click)="menuSelected(menu.menuName)" class="btn-list-menus" no-padding no-margin clear ion-button>
                            <img class="img-shop" [src]="storageProvider.awsS3+menu.imagePath">
                            <div>
                                <p>{{menu.menuName}}</p>
                                <p>{{(menu.price*1).toLocaleString('en')}}원</p>
                            </div>
                        </button>
                    </ion-list>
                </ion-scroll>
            </ion-col> 
        </ion-row>
    </div>

    <ion-fab bottom color="white" bottom right>
        <button class="fab-btn" ion-fab color="white">
            <ion-icon name="icon-floating_open">
            </ion-icon>
        </button>
        <ion-fab-list side="left">
            <button class="btn-shadow" (click)="enterCart()" ion-button color="white">
                <ion-icon name="icon-cart"></ion-icon>
            </button>
            <button class="btn-shadow" (click)="enterOldOrder()" ion-button color="white">
                <ion-icon name="icon-list_2"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>

</ion-content>

