<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar hideBackButton>
</ion-navbar>

<ion-content class="gradiPage">
    <div class="takit-icon extender">
      <div class="padder-center">
          <img class="symbol-image" *ngIf="!isTestServer" src="assets/symbol.png"/>
          <div class="extender" *ngIf="isTestServer">
            <button ion-button color="loginRed" clear>
                    검증
            </button> 
          </div>
      </div>
    </div>
  <ion-grid class="selectable-grid">
    <ion-row>
      <ion-col col-2>
      </ion-col>
      <ion-col col-8>
        <button color="white" ion-button full round (click)="facebookLogin()">
           <ion-icon class="social-icon" name="icon-facebook"></ion-icon>
          &nbsp;&nbsp;페이스북으로 시작 
        </button>
      </ion-col>
      <ion-col col-2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
      </ion-col>
      <ion-col col-8>
        <button color="white" ion-button full round (click)="kakaoLogin()">
         <ion-icon class="social-icon" name="icon-kakaotalk"></ion-icon> &nbsp;&nbsp;카카오로 시작 
        </button>
      </ion-col>
      <ion-col col-2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
      </ion-col>
      <ion-col col-8>
        <button color="white" ion-button full round (click)="moveToEmailLogin()">
        <ion-icon class="social-icon" name="ios-mail-outline"></ion-icon>
         &nbsp;&nbsp;이메일로 시작 
        </button>
      </ion-col>
      <ion-col col-2>
      </ion-col>
    </ion-row>
    </ion-grid>

    <div class="dummy" >
    </div> 
    <div class="extender">
      <div class="padder-center">
        <button ion-button color="loginRed" clear (click)="tour()">
                타킷 둘러보기>
        </button> 
      </div>
    </div>
 
</ion-content>
