page-my-wallet {
    .wallet-type{
        height: 50px;
        vertical-align: middle;

        
    }

    .wallet-type .segment-button{
        border-top-left-radius:64px;
        border-style: none;
        font-size: 17px;
    }

    .segment-ios .segment-button:first-of-type, 
    .segment-ios .segment-button:last-of-type{
        border-radius: 64px;
    }


    .card-cash-card{
        height: 200px;
    }
    .scroll-cardList{
        height: 200px;
    }

    .scroll-col-card{
        flex: 0 0 45%;
        //max-width: 40%;
        // width: 40%;
    }

    .scroll-row-cardList{
        flex-wrap: inherit;
    }

    // .slide-card .slide-zoom{
    //     width: 40%;
    // }

    .img-card{
      
    }

    .row-coupon > ion-row >  ion-col > ion-card, 
    .row-coupon > ion-row >  ion-col > ion-card > img{
        width: 100%;
        height: 100px;
    }
}
