<ion-header id="header">
  <ion-navbar hideBackButton>
  </ion-navbar>
</ion-header>

<ion-content #cashContent class="cash">
    <ion-item #firstItem>
        <ion-label class="textSet"><strong>{{'AvailableAmount'|translate}}</strong></ion-label>
        <ion-label class="available-amount"><span>{{storageProvider.cashAmount}}</span> {{'won'|translate}}</ion-label>
    </ion-item>

    <div>
    <ion-segment [(ngModel)]="storageProvider.cashMenu">
      <ion-segment-button  value="cashIn" (click)="disableInfiniteScroll()">
        {{ 'DoDeposit' | translate }}
      </ion-segment-button>
      <ion-segment-button  value="cashHistory" (click)="enableInfiniteScroll()">
        {{ 'History' | translate }}
      </ion-segment-button>
      <ion-segment-button  value="cashOut" (click)="disableInfiniteScroll()">
        {{ 'DoWithdrawal' | translate }}
      </ion-segment-button>
    </ion-segment>
    </div>

    <div [ngSwitch]="storageProvider.cashMenu">
        <ion-list *ngSwitchCase="'cashIn'">
            <ion-item>
                <ion-label class="textSet"><strong>{{'cashId'| translate}}</strong></ion-label>
            </ion-item>
            <ion-row>
            <ion-item ion-col class="cashId">         
                <ion-input class="cashIdValue" type="text" [(ngModel)]="storageProvider.cashId" disabled placeholder="{{ 'pressConfiguration' | translate }}"></ion-input>
            </ion-item>
                <button ion-button class="config" [disabled]="storageProvider.tourMode" (click)="configureCashId()">
                    <span *ngIf="lang=='ko'">설정</span>
                    <span *ngIf="lang!='ko'"style="font-size:1.2rem;">setting</span>
                </button>
            </ion-row>

            <ion-row *ngIf="!storageProvider.iphone5 && lang=='ko'" >
                <ion-col width-90>
            <ion-item >
                <ion-label class="textSet" style="text-align:right;padding:0px;">입금계좌: 농협 301-2424-3636-21 (타킷주식회사)</ion-label>
            </ion-item>
            </ion-col>
            <ion-col width-10 style="padding-right: 5px;">
            <ion-item class="selectButton">
                <button ion-button full class="selectButton copyClipboardButton" color="darkgray" (click)="copyAccountInfo()">
                복사 
                </button>
            </ion-item>
            </ion-col>
            </ion-row>

            <ion-row *ngIf="lang!='ko'" >
                <ion-col width-80>
                <ion-item >
                    <ion-row class="textSet" style="text-align:right;padding:0px;">Deposit account:Nonghyup</ion-row>
                    <ion-row class="textSetEn" style="text-align:right;padding:0px;">&nbsp;&nbsp;(National agricultural cooperative federation)</ion-row>
                    <ion-row class="textSet" >&nbsp;&nbsp;301-2424-3636-21 (타킷주식회사)</ion-row>
                </ion-item>
                </ion-col>
                <ion-col width-20>
                    <ion-item>
                            <button ion-button full class="selectButton copyClipboardButton" color="darkgray" (click)="copyAccountInfo()">Copy</button>
                    </ion-item>            
                </ion-col>
            </ion-row>


            <ion-row *ngIf="storageProvider.iphone5 && lang=='ko'">
                <ion-col width-80>
            <ion-item>
                <ion-row class="textSet">&nbsp;&nbsp;&nbsp;&nbsp;입금계좌: 농협 301-2424-3636-21</ion-row>
                <ion-row class="textSet">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 타킷주식회사</ion-row>
            </ion-item>
            </ion-col>
            <ion-col width-10>
            <ion-item class="selectButton">
                <button full ion-button class="selectButton copyClipboardButton" color="darkgray">
                복사 
                </button>
            </ion-item>
            </ion-col>
            </ion-row>
            
    <ion-row>
        <button ion-button clear small color="black" (click)="toggle()"> <ion-icon [name]="cashExplainIcon" ></ion-icon> &nbsp;{{'Details'| translate}} </button>  
    </ion-row>
    <div [hidden]="cashExplainHidden" *ngIf="lang=='ko'">
             <ion-item>
                <p class="explain" >
                - 계좌이체시 <span style="color:red"> 받는통장 표시내용</span>에 반드시 <span style="color:red">캐쉬아이디를 입력</span>해주시기 바랍니다.
                입금확인에 최대 5분이 소요될 수 있습니다. 
                </p>
                <button ion-button outline small color="primary" (click)="hrefCashIdInput()">토스/주요은행 캐쉬아이디 입력방법</button>
                <p>
                -1회 <span style="color:red">10만원 이하</span>의 금액만 <span style="color:red">충전 가능</span>합니다.
                </p>
                <button ion-button outline small color="primary" (click)="hrefCashIdProcess()">캐쉬충전 안전성</button>
                <p class="explain">
                -이용제한시간 00:00~00:30 ,매달 3주 월요일 23:55~04:00
                </p>                
             </ion-item>
    </div>
    <div [hidden]="cashExplainHidden"  *ngIf="lang!='ko'">
             <ion-item>
                <p class="explain" >
                - Please input <span style="color:red">cashId</span> in <span style="color:red">memo on the receiver's passbook </span> at transfer. 
                  You will receive an alert to confirm your deposit in 5 minutes.
                </p>
                <button ion-button outline small color="primary" (click)="hrefCashIdInput()">Major banks's cashId</button>
                <p class="explain">
                -The amount of deposit must not be more than <span style="color:red">100 thousands won</span> at a time. 
                </p>
                <button ion-button outline small color="primary" (click)="hrefCashIdProcess()">Take a look at the security of Takit cash </button>
                <p class="explain">
                -Service unavaiable 00:00~00:30 everyday, monday of third week every month 23:55~04:00
                </p>                
             </ion-item>
    </div>

            <ion-row>
                <ion-col width-50 padding>
                    <button ion-button block  (click)="cashInCheck(input)" class="confirmButton" color="primary">
                        <div *ngIf="lang=='ko'">이체후 캐쉬를 <br>바로 사용하셔야 <br>하나요? </div>
                        <div *ngIf="lang!='ko'"><p>Do you want to <br>order <br>immediately?</p></div>
                    </button>
                </ion-col>
                <ion-col width-50 padding>
                    <button ion-button block  class="confirmButton" (click)="manualCheck(true)" color="primary">
                        <div *ngIf="lang=='ko'">캐쉬아이디 <br>입력을<br>잊으셨나요?<br><br>
                        <span [hidden]="manualCheckHidden">아래 입금 확인하기를 <br>수행해 주세요</span>
                        </div>
                        <div *ngIf="lang!='ko'">Forgot to <br>input cashId?<br>
                        <p [hidden]="manualCheckHidden">go through <br> below box</p>
                        </div>
                    </button>
                </ion-col>
            </ion-row>
            
            <div class="cashIn-check" [hidden]="manualCheckHidden">   
                <ion-grid class="cashIn-check-table">
                <ion-row center>
                    <ion-col>
                    <ion-item>
                    <ion-label>{{'DepositDate'| translate}}</ion-label>
                    <ion-datetime displayFormat="YYYY M DD" min="2016" [(ngModel)]="transferDate"></ion-datetime>
                    </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row center>
                    <ion-col>
                        <ion-item>
                        {{'DepositAmount'| translate}}
                        </ion-item>
                    </ion-col>
                    <ion-col>
                    <ion-item>
                    <ion-input #depositCashAmount class="cashIn-check-inputBox" [(ngModel)]="depositAmount" type="number" ></ion-input>
                    </ion-item>
                    </ion-col>
                </ion-row>
            <ion-row>
              <ion-col width-50>
                <ion-item >
                    <ion-label>{{'DepositBank'| translate}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col width-50>
                <ion-item class="bankSelect" >
                    <ion-label></ion-label>
                    <ion-select class="depositBankSelect" [(ngModel)]="storageProvider.depositBank"  (ionChange)="depositBankType(storageProvider.depositBank)">
                      <ion-option *ngFor="let bank of storageProvider.banklist" value="{{bank.value}}">{{bank.name}}</ion-option>
                      <ion-option value="0">지점코드입력</ion-option>
                    </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-50>
                <ion-item >
                    <ion-label>{{'DepositBranch'| translate}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col width-40 [hidden]="storageProvider.depositBranch=='codeInput'">
                <ion-item>
                    <ion-input class="cashIn-check-inputBox" disabled [placeholder]="" [(ngModel)]="storageProvider.depositBranchInput"  ></ion-input>
                </ion-item>
              </ion-col>    
              <ion-col width-40 [hidden]="storageProvider.depositBranch!='codeInput'">
                <ion-item>
                    <ion-input class="cashIn-check-inputBox" [placeholder]="" [(ngModel)]="storageProvider.depositBranchInput" type="number" ></ion-input>
                </ion-item>
              </ion-col>    

              <ion-col width-10 [hidden]="storageProvider.depositBank=='0'">
                <ion-item class="selectButton">
                    <button ion-button full class="selectButton" (click)="toggleSelectInput()">선택</button>
                </ion-item>
              </ion-col>    
            </ion-row>
         <!--   
            <ion-row>
                <p class="explain" [hidden]="storageProvider.depositBranch=='codeInput'">
                    입금 계좌의 관리지점입니다.  
                </p>
            </ion-row>
            -->            
            <ion-row [hidden]="storageProvider.depositBranch!='codeInput'">
                <button ion-button clear small>지점코드(7자리숫자)조회방법</button>
            </ion-row>
            <ion-row [hidden]="storageProvider.depositBranch=='codeInput'">
                <button ion-button clear small (click)="hrefBankBranch()">거래지점확인방법</button>
            </ion-row>
            <ion-row center>
            <ion-col>
                <ion-item *ngIf="lang=='ko'">
                <ion-row style="text-align:center">받는 통장</ion-row>
                <ion-row style="text-align:center">표시내용 </ion-row>
                </ion-item>
                <ion-item *ngIf="lang!='ko'">
                <ion-row style="text-align:center">Memo on </ion-row>
                <ion-row style="text-align:center">the receiver's</ion-row>
                <ion-row style="text-align:center"> passbook</ion-row>
                </ion-item>                
            </ion-col>
            <ion-col>
            <ion-item>
            <ion-input class="cashIn-check-inputBox" [placeholder]="storageProvider.name" [(ngModel)]="depositMemo" type="text" > </ion-input>
            </ion-item>
            </ion-col>
            </ion-row>
            <ion-row>
                <ion-col width-50>
                    <ion-item>
                    <button ion-button full (click)="manualCheck(false)">{{'cancel'| translate}}</button>
                    </ion-item>
                </ion-col>
                <ion-col  width-50>
                    <ion-item>
                    <button ion-button full (click)="cashInComplete(event)">{{'ConfirmDeposit'| translate}}</button>
                    </ion-item>
                </ion-col>
            </ion-row>
            </ion-grid>   
            </div>
            <div class="dummy">
                <br><br><br><br>
            </div>    
        </ion-list>

        <ion-list *ngSwitchCase="'cashHistory'">
              <ion-item>
                <ion-row class="transactionLabel">
                    <ion-col>거래일</ion-col>
                     <ion-col>금액</ion-col>
                    <ion-col>구분</ion-col>
                    <ion-col>잔액</ion-col>
                </ion-row>
              </ion-item>
              <ion-item  *ngFor="let tr of transactions">
                <ion-row class="transaction" (click)="toggleTransaction(tr)">
                    <ion-col>{{tr.date}}</ion-col>
                    <ion-col>{{tr.amount}}</ion-col>
                    <ion-col *ngIf="tr.transactionType!='deposit' || tr.confirm==1">{{tr.type}}</ion-col>
                    <ion-col *ngIf="tr.transactionType=='deposit' && tr.confirm==0"> <button ion-button [disabled]="storageProvider.tourMode" (click)="addCash(tr)">확인</button></ion-col>
                    <ion-col *ngIf="tr.nowBalance!=undefined && tr.nowBalance!=null">{{tr.nowBalance}}</ion-col>
                    <ion-col *ngIf="tr.nowBalance==undefined || tr.nowBalance==null"> &nbsp; &nbsp;</ion-col>
                </ion-row>
                <ion-row class="transaction" [hidden]="tr.transactionType!='deposit' || tr.hide">
                    <ion-col *ngIf="tr.bankName!=undefined">{{tr.bankName}}</ion-col>
                    <ion-col *ngIf="tr.bankName==undefined">{{tr.bankCode}}</ion-col>
                    <ion-col *ngIf="tr.branchName!=undefined">{{tr.branchName}}</ion-col>
                    <ion-col *ngIf="tr.branchName==undefined">{{tr.branchCode}}</ion-col>
                </ion-row>
                <ion-row class="transaction" [hidden]="tr.transactionType!='refund' || tr.hide">
                    <ion-col *ngIf="tr.bankName!=undefined">{{tr.bankName}}</ion-col>
                    <ion-col *ngIf="tr.account!=undefined">{{tr.accountMask}}</ion-col>
                    <ion-col *ngIf="tr.fee!=undefined">수수료:{{tr.fee}}</ion-col>
                </ion-row>
              </ion-item>
      </ion-list>        
          <ion-infinite-scroll #infiniteScroll (ionInfinite)="doInfinite($event)" [enabled]="infiniteScroll" [hidden]="transactions.length==0 || storageProvider.cashMenu!='cashHistory'">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        <div class="cashHistoryDummy" *ngIf="storageProvider.cashMenu=='cashHistory'">
        </div>
        <ion-list *ngSwitchCase="'cashOut'">
            <ion-item>
              <ion-label class="textSet"><strong>등록 환불 계좌 </strong></ion-label>
            </ion-item>
            <ion-row>
            <ion-item ion-col class="cashOut-text">
                <ion-label>예금주</ion-label>
            </ion-item>
            <ion-item ion-col class="input">
                <ion-input class="inputBox" type="text" disabled [(ngModel)]="storageProvider.name"></ion-input>
            </ion-item>
            </ion-row>
            <ion-row>
            <ion-item ion-col class="cashOut-text">
                <ion-label>은행</ion-label>
            </ion-item>
            <ion-item class="bankSelect">
                <ion-label></ion-label>
                <ion-select [(ngModel)]="refundBank">
                <ion-option *ngFor="let bank of storageProvider.banklist" [disabled]="!refundEditable" value="{{bank.value}}">{{bank.name}}</ion-option>
                </ion-select>
            </ion-item>
            </ion-row>

            <ion-row>
            <ion-item ion-col class="cashOut-text">
                <ion-label>계좌번호</ion-label>
            </ion-item>

            <ion-item ion-col class="input" *ngIf="!refundEditable" >
                <ion-input class="inputBox"  (click)="focusInput('inputRefundAccount')" disabled [(ngModel)]="refundAccountMask" ></ion-input>
            </ion-item>
            <ion-item ion-col class="input"  *ngIf="refundEditable">
                <ion-input class="inputBox"  (click)="focusInput('inputRefundAccount')"  [(ngModel)]="refundAccount" type="number"></ion-input>
            </ion-item>

            </ion-row>
            <p class="explain">
            &nbsp;&nbsp;"-"를 제외한 숫자만 입력해주시기 바랍니다. 
            </p>
            <ion-item *ngIf="refundEditable">
                <ion-row>
                    <ion-col class="refundAccountRegButton" *ngIf="verifiedAccount.length!=0">
                        <button  ion-button (click)="cancelRefundEditable()" full>
                            <span>취소</span>
                        </button>
                    </ion-col>
                    <ion-col class="refundAccountRegButton">
                        <button ion-button [disabled]="storageProvider.cashId.length==0 ||storageProvider.tourMode" (click)="checkWithrawAccount()" full>
                            <span>환불계좌 등록</span>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item *ngIf="!refundEditable">
                <button ion-button [disabled]="storageProvider.tourMode" (click)="enableRefundEditable()" full>
                    <span>환불계좌 수정</span>
                </button>
            </ion-item>
            <ion-item>
                <p class="explain">
                    - 캐쉬를 고객님의 계좌로 이체합니다. 이체 수수료는 월 4회 이하 무료이나 4회를 초과하는 경우 농협계좌 150원, 타행 400원의 수수료가 차감되어 이체됩니다.
                </p>
            </ion-item>
            <ion-row>
            <ion-item ion-col class="cashId">
                <ion-input class="cashIdValue" [(ngModel)]="refundAmount" [disabled]="verifiedAccount.length==0 || refundEditable" type="number" placeholder="환불금액"></ion-input>
            </ion-item>
                <button ion-button (click)="refundCash()" [disabled]="verifiedAccount.length==0 || refundEditable || storageProvider.tourMode" class="cashOut">
                    <span>환불신청</span>
                </button>
            </ion-row>
            <ion-row class="scrollDummy">
            </ion-row>
        </ion-list>    
    </div>
</ion-content>