page-home {
    //[padding], [padding] scroll-content{
    //    padding:0px !important;
    //}


    $scroll-H:100px; 
    $latest-W : 129px;
    $latest-H : 80px;
    $shop-name-H : 50px;
    $shop-list-H : 71px;

    

   

    .scroll-latest {
        height: $scroll-H;
        .scroll-content{
            padding: 0;
        }
    }

    // .scroll-latest ion-app.ios, ion-app.ios .scroll-content{
    //         padding: 0;
    //     }

    // .scroll-latest .scroll-content{
    //     // padding: 0px;
    //     padding: 0px 0px 0px 10px;
    // }

    .scroll-row-latest{
        flex-wrap : inherit;
        height: $latest-H;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card-ios{
        margin: 3px 2px 2px 3px;
    }

    .scroll-col-latest {
        //overflow: inherit;
        width : 160px;
        height: $latest-H;
        margin-right: 9px;
        
    }

    .scroll-row-shop{
        width: 160px;
        height: 55px;
        padding: 0;
        margin: 0;
        text-align: center;

        border : solid 3px;
        border-radius: 10px;
        border-color : $sub-color;
        padding : 0px 14px 0px 14px;

        ion-col{
            padding: 0;
            height: 49px;
            display: flex;
            align-items: center;
        }
    }

    .scroll-p-shop{
        display: flex;
        align-items: center;
        margin: 0;
        padding-right: 20px;
        font-size : 13px;
        font-weight: 800;
        line-height : 18px;
        word-break: break-all;

    }

    .scroll-icon-latest{
        vertical-align: center;
    }

    .scroll-p-visit{
        margin-left : 12px;
        margin-top: 9px;
        text-align: left;
    }


    //
    ion-slides{
        display: flex;
        height: 110px;
        flex-wrap: wrap; 
    }
    ion-slide{
       display: flex;
       
    }
    .slide-event {
        @include calc(width, "100% - 112px");
        height: 110px;
    } 

    .div-event{
        width: 100%;
        //@include calc(width, "100% - 112px");
        height: 110px;
        // border: 3px solid;
        // border-radius: 5px;
        background: url('../assets/coupun_shadow_bg.png');
        background-size: 70% 110px;
        background-attachment: local;
        background-position: center;
        background-repeat: repeat-x;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 50%;
            height: 100px;
            opacity: 0.9;
            // box-shadow: 0px 13px 10px -10px #888888;

            
        }
    }

    .slidebar{
        width:7px;
        height: 7px;
    }

    .div-keyword{
        .segment-ios .segment-button{
            border: none;
            font-size:15px;
        }

        .segment-ios .segment-button.segment-activated{
            color:$main-color;
            background-color: white;
            border:none;
        }

        .segment-button:hover:not(.segment-activated){
            background-color: white;
        }

    }

    .row-shop-title{
        border-top:0.1rem solid;
        border-color:#f4f4f4;
        margin-left: 10px;
        margin-right: 10px;
        .p-title{
            margin-left: 4px;

        }
    }

    //
    .row-nearShop {
        height: $shop-list-H+10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;

        img{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px; 
            width: 100%;
            height: $shop-list-H+10px;
        }
        
        ion-col{
            height: 100%;
            padding: 0;
            //display: flex;
            
        }

        ion-col:nth-child(2){
            padding-left:10px;
            flex-basis: 30%;
            p:nth-child(1) {
                font-family: 나눔고딕;
                font-size: 16px;
                font-weight: 900;
                color : #4c4c4c;
                margin-top: 8px;
                margin-bottom: 3px;
            }
            p:nth-child(2) {
                font-size: 14px;
                //font-weight: 600;
                color:#4c4c4c;
                margin-top:3px;
                margin-bottom: 10px;
            }
            p:nth-child(3) {
                font-size: 14px;
                //font-weight: 600;
                color:#9f9f9f;
            }
        } 

        .btn-shop-more{
            margin: 0;
            //padding: 0;
            height: 100%;
            width: 4px;
            display: flex;
            align-items: center;
            font-size: 25px;

        }
        
    }

    /////////
    .scroll-more{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        height: 95px;
        //display: flex;
        background-color:rgba(00,43,63,0.2);
        border-radius: 5px;
        font-size:13px;


        .scroll-row-more{
            //display: flex;
            flex-wrap: nowrap;
            height: 107px;
            overflow-x: scroll;
            
        }
        ion-col{
            flex : 0 0 29%;
            padding-top: 12px;
            padding-left:0;
            padding-right: 0;
            text-align : center;
            //margin-right: 10px;
            //flex-wrap: nowrap;

            img{
                border-radius: 50%;
                width: 52px;
                height: 52px;
            }

            p{
                margin: 5px;
                font-size: 11px;
                font-weight: 600;

            }
        }
        
    }
}
