<ion-header>
    <ion-navbar hideBackButton="true" >
      <ion-buttons start>
        <button  (click)="goHome()" class="hearder-icon" ion-button color="mainColor" clear>
            <ion-icon name="icon-logo" color="mainColor"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title *ngIf="isTestServer==true">검증</ion-title>
    <ion-buttons end>
        <button ion-button class="hearder-icon" clear (click)="search()">
            <ion-icon name="search" color="mainColor" ></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<!-- 
<ion-content (swipe)="swipeHome($event)"  class="home">
-->
  
<ion-content #homeContent class="home">
    <div *ngIf="storageProvider.shoplist && storageProvider.shoplist.length!==0">
        <p class="p-title">최근 방문</p>
        
        <ion-scroll scrollX="true" class="scroll-latest">
            <ion-row class="scroll-row-latest">
                <ion-col *ngFor="let shop of storageProvider.shoplist; let i=index" [ngStyle]="{left:10+i*180+'px'}" class="scroll-col-latest"  no-padding>
                    <ion-row  class="scroll-row-shoplist">
                        <ion-col>
                            <button (click)="getSelected(shop.takitId)" class="scroll-btn-shoplist" color="black" no-padding no-margin clear ion-button>
                                <p class="scroll-p-shoplist" *ngIf="shop.takitId.length<=14">{{shop.takitId}}</p>
                                <p class="scroll-p-shoplist" *ngIf="shop.takitId.length>14">{{shop.takitId.substring(0,13)}} ...</p>
                            </button>
                            <button (click)="enterOldOrder(shop.takitId)"  class="scroll-btn-oldOrder" color="mainColor" ion-button clear>
                                <ion-icon name="icon-menu" color="mainColor"></ion-icon>
                            </button> 
                        </ion-col>
                    </ion-row>
                    <ion-row >
                        <ion-col no-padding>
                            <p *ngIf="shop.visitedDiff===0" class="scroll-p-visit">오늘</p>
                            <p *ngIf="shop.visitedDiff!==0 && shop.visitedDiff" class="scroll-p-visit">{{shop.visitedDiff+"일전"}}</p>
                            <p *ngIf="shop.visitedDiff!==0 && !shop.visitedDiff" class="scroll-p-visit">방문</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-scroll>
    </div>

        
    <p class="p-title">이벤트 / 쿠폰</p>
    

    <ion-slides #Slides (ionSlideDidChange)="eventChanged()" >
        <ion-slide *ngFor="let event of storageProvider.events; let i=index" class="slide-event">
            <div class="div-event">
            <img [src]="storageProvider.awsS3+event.imagePath">
            </div>
        </ion-slide>
    </ion-slides>

      <ion-item no-lines text-center >
        <button ion-button color="white" *ngFor="let event of storageProvider.events">
            <img *ngIf="!event.selected" [src]="storageProvider.awsS3OCR+circle[0]" class="slidebar">
            <img *ngIf="event.selected" [src]="storageProvider.awsS3OCR+circle[1]" class="slidebar">
        </button>
    </ion-item>  


    <ion-row class="row-shop-title">
        <ion-col no-padding>
        <p class="p-title">매장 보기</p>
        </ion-col>
        <ion-col col-4>

            <!--next version  -->
            <!-- <ion-item no-lines>
                <ion-label>전체</ion-label>
                <ion-select interface="popover" [(ngModel)]="distanceSelected">
                    <ion-option value="1">1km</ion-option>
                    <ion-option value="2">5km</ion-option>
                    <ion-option value="3">10km</ion-option>
                    <ion-option value="4">전국</ion-option>
                </ion-select>
            </ion-item> -->
        </ion-col>
    </ion-row>
    <!--거리별 shoplist가 되어야 함-->
    <div class="div-keyword">
        <ion-segment [(ngModel)]="nowKeyword" *ngFor="let keyword of keywordShops" color="grey">
            <ion-segment-button  [value]="keyword" (click)="showKeywordShops(keyword)" clear>
                #{{keyword}}
            </ion-segment-button>
        </ion-segment>
    </div>

    <div *ngFor="let shop of nearShops; let i=index">
        <ion-row class="row-nearShop" >
            <ion-col no-padding>
                <button (click)="getSelected(shop.takitId)" class="btn-img-nearShop"  color="white" ion-button full no-padding no-margin> 
                    <img class="img-shop" [src]="storageProvider.awsS3+shop.imagePath" >
                </button>      
            </ion-col>
            <ion-col> 
            <button (click)="getSelected(shop.takitId)"  class="btn-content-nearShop" no-padding no-margin ion-button clear>
                <p>{{shop.shopName}}</p>
                <p>#{{shop.takitId}}#</p>
                <span>{{shop.discountRate+" "}}</span><span *ngIf="shop.businessType">{{shop.businessType+" "}}</span>
                    <!-- <span>{{shop.reviewList.length}}</span> -->
            </button>
            </ion-col>
            <ion-col col-2>
                <button (click)="showMoreMenus(shop)" class="btn-shop-more" ion-button clear color="mainColor" *ngIf="shop.bestMenus.length>0">
                    <ion-icon name="md-more"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-scroll class="scroll-more" scrollX="true" *ngIf="shop.showMore" >
            <ion-row class="scroll-row-more">
                <ion-col *ngFor="let menu of shop.bestMenus" class="more-menus">
                    <button (click)="enterMenuDetail(menu,shop)" no-padding no-margin ion-button clear>
                        <img class="img-shop" [src]="storageProvider.awsS3+menu.imagePath">
                        <p>{{menu.menuName}}</p>       
                    </button>
                </ion-col>
            </ion-row>
        </ion-scroll>
    </div>

    
    
</ion-content>

