page-signup-payment {
    $radio-ios-color-on:black;

    .backbutton{
        font-size: large;
    }

    .backbutton-icon{
        font-size: xx-large;
    }
    .header{
        padding:0px;
    }
    .title{
        font-size: large;
       // color: red;
        color: #e8454c;
    }
    .list-ios > .item-block:first-child {
        border-top: 0px; 
    }

    .required{
        color:#e8454c;
    }

    .item-ios {
        padding-left: 0px; 
    }

    ion-list{
        padding:20px;
    }

     button{
        font-weight: bold;
    }

    .list-ios {
        margin-bottom: 0px; 
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .list-ios .description.item-block .item-inner {
        border-bottom: 0px;
        padding: 0p;
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 0px;
    }

    .description .label-ios{
        margin:0px;
        font-size:small;
        white-space: pre-line;
    }

    .required{
        color:red;
    }

    .cashIdInput{
        border-bottom: 1px;
        border-color: lightgray;
        border-bottom-style: solid;
    }

    ion-col{
        font-size:medium;
    }

    .warning{
        color:gray;
    }

    .item-ios.item-block .item-inner {
     border-bottom: 0px solid #c8c7cc; 
    }
/*
    .radio-ios .radio-checked .radio-inner {
        border-color:black;
    }
 */   
}
