page-faq {
 ion-label{
        white-space:normal !important;
    }
    .toolbar-background-ios {
        background: white; 
    }

    .input-wrapper {        
        margin-bottom: 10px;
    }

    .item-ios.item-block .item-inner {
        border-bottom: 0px;
    }

    .list-ios > .item-block:first-child {
        border-top: 0px;
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 0px;
    }

    .answer{
        background-color:white;
        padding:10px;
    }

    .question{
        background-color:$sub-color;
        border-radius: 10px;
        
        margin-left: 0px;
        margin-right: 10px;


        button{
            width: 100%;
            height: 100%;
            padding: 10px;
            text-align: left;
            white-space: normal;
            font-weight: 600;

            .button-inner{
                display: block;
            }
        }
    }
    

    .label-ios {
        margin:0;
    }

    .anchor{
        text-decoration: none !important;
    }
}
