page-shopcart{
    .div-cart-menu{
        //display: flex;
        border:3px solid;
        border-radius: 5px;
        border-color:$sub-color;

        .span-amount{
            color:$sub3-color;
        }
        .div-amount-container{
            display: flex;
        }
    }

    .div-count{
        display: flex;
        width: 30%;
        ion-input, .text-input-ios{
            width: 20px;
        }
        button{
            padding: 0;
            margin: 0;
        }
    }

    ion-footer{
        .toolbar-content-ios{
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                width: 50%;
                color:$sub-color;
                
            }
            button{
                width: 50%;
            }
        }
    }
}