$icomoon-font-path: "../assets/fonts" !default;

$icon-cash_2: "\0041";
$icon-atRestaurant: "\0042";
$icon-cancel: "\0043";
$icon-cart: "\0044";
$icon-cash_history_1: "\0045";
$icon-cash_history_2: "\0046";

$icon-cash: "\0047";
$icon-chat: "\0048";
$icon-coupun_bg: "\0049";

$icon-delete: "\004a";
$icon-delivery: "\004b";
$icon-down: "\004c";


$icon-good: "\004d"; //emo1
$icon-soso: "\004e"; //emo2
$icon-bad: "\004f"; //emo3


$icon-event_coupun_bg: "\0050";
$icon-favorite: "\0051";
$icon-floating_close: "\0052";
$icon-floating_open: "\0053";

$icon-history2: "\0054";
$icon-history_bar_1_off: "\0055";
$icon-history_bar_1_on: "\0056";
$icon-history_bar_2_off: "\0057";
$icon-history_bar_2_on: "\0058";
$icon-history_dropdown_btn: "\0059";
$icon-history: "\005a";


$icon-list_1: "\0061";
$icon-list_2: "\0062";
$icon-location: "\0063";
$icon-logo: "\0064";
$icon-menu: "\0065";
$icon-next: "\0066";
$icon-phone: "\0067";
$icon-prev: "\0068";
$icon-receipt_bg_1: '\0069';
$icon-receipt_bg_2: '\006a';

$icon-store_menu: '\006b';
$icon-tab_home: '\006c';
$icon-tab_more: '\006d';
$icon-tab_mytakit: "\006e";
$icon-tab_mywallet: "\006f";
$icon-takeout: '\0070';
$icon-takit_full_logo: '\0071';
$icon-takit_simbol_logo: "\0072";
$icon-up: "\0073";
