$icomoon-font-path: "../assets/fonts" !default;

$icon-cash_2: "\0041";
$icon-atRestaurant: "\0042";
$icon-cancel: "\0043";
$icon-cart: "\0044";
$icon-cash_history_1: "\0045";
$icon-cash_history_2: "\0046";

$icon-cash: "\0047";
$icon-chat: "\0048";
$icon-coupun_bg: "\0049";

$icon-delete: "\004a";
$icon-delivery: "\004b";
$icon-down: "\004c";


$icon-good: "\004d"; //emo1
$icon-soso: "\004e"; //emo2
$icon-bad: "\004f"; //emo3


$icon-event_coupun_bg: "\0050";

$icon-facebook: "\0051";
$icon-favorite: "\0052";
$icon-floating_close: "\0053";
$icon-floating_open: "\0054";

$icon-history2: "\0055";
$icon-history_bar_1_off: "\0056";
$icon-history_bar_1_on: "\0057";
$icon-history_bar_2_off: "\0058";
$icon-history_bar_2_on: "\0059";
$icon-history_dropdown_btn: "\005a";
$icon-history: "\0061";
$icon-kakaotalk: "\0062";

$icon-list_1: "\0063";
$icon-list_2: "\0064";
$icon-location: "\0065";
$icon-logo: "\0066";
$icon-menu: "\0067";
$icon-next: "\0068";
$icon-phone: "\0069";
$icon-prev: "\006a";
$icon-receipt_bg_1: '\006b';
$icon-receipt_bg_2: '\006c';

$icon-setting: '\006d';
$icon-store_menu: '\006e';
$icon-tab_home: '\006f';
$icon-tab_more: '\0070';
$icon-tab_mytakit: "\0071";
$icon-tab_mywallet: "\0072";
$icon-takeout: '\0073';
$icon-takit_full_logo: '\0074';
$icon-takit_simbol_logo: "\0075";
$icon-up: "\0076";
