@import "takitIcon-variables";

@font-face {
  font-family: 'takitIcon';
  src:  url('#{$icomoon-font-path}/takitIcon.eot?u9u376');
  src:  url('#{$icomoon-font-path}/takitIcon.eot?u9u376#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/takitIcon.ttf?u9u376') format('truetype'),
    url('#{$icomoon-font-path}/takitIcon.woff?u9u376') format('woff'),
    url('#{$icomoon-font-path}/takitIcon.svg?u9u376#takitIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin makeIcon($arg, $val) {
    .ion-ios-#{$arg}:before ,
    .ion-ios-#{$arg}-circle:before ,
    .ion-ios-#{$arg}-circle-outline:before ,
    .ion-ios-#{$arg}-outline:before ,
    .ion-md-#{$arg}:before ,
    .ion-md-#{$arg}-circle:before ,
    .ion-md-#{$arg}-circle-outline:before ,
    .ion-md-#{$arg}-outline:before  {
        font-family: "takitIcon" !important;
        content: $val;
    }
}



@include makeIcon(icon-cash_2, $icon-cash_2);
@include makeIcon(icon-atRestaurant, $icon-atRestaurant);
@include makeIcon(icon-cancel, $icon-cancel);
@include makeIcon(icon-cart, $icon-cart);

@include makeIcon(icon-cash_history_1, $icon-cash_history_1);
@include makeIcon(icon-cash_history_2, $icon-cash_history_2);
@include makeIcon(icon-cash, $icon-cash);
@include makeIcon(icon-chat, $icon-chat);
@include makeIcon(icon-coupun_bg, $icon-coupun_bg);
@include makeIcon(icon-delete, $icon-delete);
@include makeIcon(icon-delivery, $icon-delivery);
@include makeIcon(icon-down, $icon-down);

@include makeIcon(icon-good, $icon-good);
@include makeIcon(icon-soso, $icon-soso);
@include makeIcon(icon-bad, $icon-bad);

@include makeIcon(icon-event_coupun_bg, $icon-event_coupun_bg);
@include makeIcon(icon-facebook, $icon-facebook);
@include makeIcon(icon-favorite, $icon-favorite);
@include makeIcon(icon-floating_close, $icon-floating_close);
@include makeIcon(icon-floating_open, $icon-floating_open);

@include makeIcon(icon-history2, $icon-history2);
@include makeIcon(icon-history_bar_1_off, $icon-history_bar_1_off);
@include makeIcon(icon-history_bar_1_on, $icon-history_bar_1_on);
@include makeIcon(icon-history_bar_2_off, $icon-history_bar_2_off);
@include makeIcon(icon-history_bar_2_on, $icon-history_bar_2_on);
@include makeIcon(icon-history_dropdown_btn, $icon-history_dropdown_btn);
@include makeIcon(icon-history, $icon-history);
@include makeIcon(icon-kakaotalk, $icon-kakaotalk);

@include makeIcon(icon-list_1, $icon-list_1);
@include makeIcon(icon-list_2, $icon-list_2);
@include makeIcon(icon-location, $icon-location);
@include makeIcon(icon-logo, $icon-logo);
@include makeIcon(icon-menu, $icon-menu);
@include makeIcon(icon-next, $icon-next);
@include makeIcon(icon-phone, $icon-phone);
@include makeIcon(icon-prev, $icon-prev);
@include makeIcon(icon-receipt_bg_1, $icon-receipt_bg_1);
@include makeIcon(icon-receipt_bg_2, $icon-receipt_bg_2);

@include makeIcon(icon-setting, $icon-setting);
@include makeIcon(icon-store_menu, $icon-store_menu);
@include makeIcon(icon-tab_home, $icon-tab_home);
@include makeIcon(icon-tab_more, $icon-tab_more);
@include makeIcon(icon-tab_mytakit, $icon-tab_mytakit);
@include makeIcon(icon-tab_mywallet, $icon-tab_mywallet);
@include makeIcon(icon-takeout, $icon-takeout);
@include makeIcon(icon-takit_full_logo, $icon-takit_full_logo);
@include makeIcon(icon-takit_simbol_logo, $icon-takit_simbol_logo);
@include makeIcon(icon-up, $icon-up);
@include makeIcon(icon-email, $icon-email);
@include makeIcon(icon-takeOut_2, $icon-takeOut_2);
@include makeIcon(icon-delivery_2, $icon-delivery_2);
@include makeIcon(icon-atRestaurant_2, $icon-atRestaurant_2);

// @font-face {
//   font-family: 'takitIcon';
//   src:  url('#{$icomoon-font-path}/takitIcon.eot?u9u376');
//   src:  url('#{$icomoon-font-path}/takitIcon.eot?u9u376#iefix') format('embedded-opentype'),
//     url('#{$icomoon-font-path}/takitIcon.ttf?u9u376') format('truetype'),
//     url('#{$icomoon-font-path}/takitIcon.woff?u9u376') format('woff'),
//     url('#{$icomoon-font-path}/takitIcon.svg?u9u376#takitIcon') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// [class^="icon-"], [class*=" icon-"] {
//   /* use !important to prevent issues with browser extensions that change fonts */
//   font-family: 'takitIcon' !important;
//   speak: none;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;

//   /* Better Font Rendering =========== */
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .icon-cancel {
//   &:before {
//     content: $icon-cancel;
//   }
// }
// .icon-cart {
//   &:before {
//     content: $icon-cart;
//   }
// }
// .icon-cash_2 {
//   &:before {
//     content: $icon-cash_2;
//   }
// }
// .icon-cash {
//   &:before {
//     content: $icon-cash;
//   }
// }
// .icon-chat {
//   &:before {
//     content: $icon-chat;
//   }
// }
// .icon-coupun_bg .path1 {
//   &:before {
//     content: $icon-coupun_bg-path1;  
//     color: rgb(210, 228, 235);
//   }
// }
// .icon-coupun_bg .path2 {
//   &:before {
//     content: $icon-coupun_bg-path2;  
//     margin-left: -2.5380859375em;  
//     color: rgb(255, 255, 255);
//   }
// }
// .icon-coupun_bg .path3 {
//   &:before {
//     content: $icon-coupun_bg-path3;  
//     margin-left: -2.5380859375em;  
//     color: rgb(255, 255, 255);
//   }
// }
// .icon-coupun_bg .path4 {
//   &:before {
//     content: $icon-coupun_bg-path4;  
//     margin-left: -2.5380859375em;  
//     color: rgb(255, 255, 255);
//   }
// }
// .icon-coupun_bg .path5 {
//   &:before {
//     content: $icon-coupun_bg-path5;  
//     margin-left: -2.5380859375em;  
//     color: rgb(255, 255, 255);
//   }
// }
// .icon-coupun_bg .path6 {
//   &:before {
//     content: $icon-coupun_bg-path6;  
//     margin-left: -2.5380859375em;  
//     color: rgb(255, 255, 255);
//   }
// }
// .icon-coupun_bg .path7 {
//   &:before {
//     content: $icon-coupun_bg-path7;  
//     margin-left: -2.5380859375em;  
//     color: rgb(255, 255, 255);
//   }
// }
// .icon-delete {
//   &:before {
//     content: $icon-delete;
//   }
// }
// .icon-down {
//   &:before {
//     content: $icon-down;
//   }
// }
// .icon-favorite {
//   &:before {
//     content: $icon-favorite;
//   }
// }
// .icon-history {
//   &:before {
//     content: $icon-history;
//   }
// }
// .icon-list_1 {
//   &:before {
//     content: $icon-list_1;
//   }
// }
// .icon-list_2 {
//   &:before {
//     content: $icon-list_2;
//   }
// }
// .icon-location {
//   &:before {
//     content: $icon-location;
//   }
// }
// .icon-next {
//   &:before {
//     content: $icon-next;
//   }
// }
// .icon-phone {
//   &:before {
//     content: $icon-phone;
//   }
// }
// .icon-prev {
//   &:before {
//     content: $icon-prev;
//   }
// }
// .icon-up {
//   &:before {
//     content: $icon-up;
//   }
// }
// .icon-atRestaurant {
//   &:before {
//     content: $icon-atRestaurant;
//   }
// }
// .icon-delivery {
//   &:before {
//     content: $icon-delivery;
//   }
// }
// .icon-Logo {
//   &:before {
//     content: $icon-Logo;
//   }
// }
// .icon-menu {
//   &:before {
//     content: $icon-menu;
//   }
// }
// .icon-tab_home .path1 {
//   &:before {
//     content: $icon-tab_home-path1;  
//     color: rgb(0, 0, 0);
//   }
// }
// .icon-tab_home .path2 {
//   &:before {
//     content: $icon-tab_home-path2;  
//     margin-left: -1.1611328125em;  
//     color: rgb(35, 24, 21);
//   }
// }
// .icon-tab_more {
//   &:before {
//     content: $icon-tab_more;
//   }
// }
// .icon-tab_mytakit {
//   &:before {
//     content: $icon-tab_mytakit;
//   }
// }
// .icon-tab_mywallet {
//   &:before {
//     content: $icon-tab_mywallet;
//   }
// }
// .icon-takeOut {
//   &:before {
//     content: $icon-takeOut;
//   }
// }

