<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
        <button navPop class="nav-btn" small ion-button no-margin clear>
            <ion-icon name="icon-prev"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>{{shopName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #orderPage class="orderPage" > 
    <div class="div-takeout">
        <ion-segment [(ngModel)]="takeoutType" color="grey" (ionChange)="changeTakeout(takeoutType)">
            <ion-segment-button value="here">
                <ion-icon name="ios-radio-button-off">
                </ion-icon>
                <p>매장식사</p>
            </ion-segment-button>
            <ion-segment-button value="takeout">
                <ion-icon name="ios-radio-button-off">
                </ion-icon>
                <p>테이크아웃</p>
            </ion-segment-button>                                               
                                                                            <!--null은 false 리턴  -->
            <ion-segment-button value="delivery" *ngIf="(takeoutAvailable && storageProvider.shopInfo.freeDelivery)" 
                                                [disabled]="storageProvider.shopInfo.freeDelivery > amount">
                <ion-icon name="ios-radio-button-off">
                </ion-icon>
                <p>배달</p>
            </ion-segment-button>
        </ion-segment>
    </div>

    <ion-row [hidden]="!delivery">
        <ion-col padding width-25> 배달지역 </ion-col>
        <ion-col padding width-75>{{storageProvider.shopInfo.deliveryArea}}</ion-col> 
    </ion-row>
   <ion-row [hidden]="!delivery">    
        <ion-item>
            <ion-textarea maxlength="60" type="text" [(ngModel)]="deliveryAddress" placeholder="배달 주소를 입력해 주세요." ></ion-textarea>
        </ion-item>
    </ion-row>
    
    <!-- <div class="top-dashed">
        <p class="subtitle">요청사항</p>
        <ion-textarea [(ngModel)]="userMSG" class="div-userMSG" placeholder="요청사항이 있으시면 입력해주세요"></ion-textarea>
    </div> -->
    <!-- <div class="div-coupon top-dashed">
        <span>쿠폰</span>
        <button (click)="searchCoupon()" [round]="true" color="subColor" ion-button small>쿠폰 찾기</button>
        <ion-item class="item-coupon border-sub1">
             <ion-select [(ngModel)]="selectedCoupon.couponNO">
                <ion-option *ngFor="let coupon of coupons" [value]="coupon.couponNO">
                    {{coupon.couponName}}</ion-option>
            </ion-select> 
        </ion-item>
    </div> -->
    <div class="div-pay top-dashed">
        <ion-segment [(ngModel)]="payType" color="mainColor">
            <ion-segment-button value="cash">타킷캐쉬</ion-segment-button>
            <!-- <ion-segment-button value="card" >카드결제</ion-segment-button> -->
        </ion-segment>
        <div class="div-cash border-sub1">
            <ion-row class="bottom-solid">
                <ion-col>사용가능금액</ion-col>
                <ion-col>{{storageProvider.cashAmount.toLocaleString('en')}}원</ion-col>
            </ion-row>
            <ion-row [hidden]="!storageProvider.receiptIssue">
                <ion-col>
                    <span>현금 영수증 발행</span>
                    <p>{{receiptIdMask}}</p>
                </ion-col>
                <ion-col>
                    <ion-checkbox [(ngModel)]="receiptChecked"></ion-checkbox>
                </ion-col>
                <p  *ngIf="storageProvider.receiptType=='IncomeDeduction'">소득공제</p>
                <p *ngIf="storageProvider.receiptType=='ExpenseProof'">지출증빙</p>
            </ion-row>
            <ion-row [hidden]="storageProvider.receiptIssue">
                <ion-col class="cash">현금영수증 발행을 원하시면 회원정보에서 설정해주시기 바랍니다</ion-col>
            </ion-row>
        </div>
    </div>
    
    <div class="div-amount-container bg-sub1">
        <div class="div-amount-inner radius-5 bg-white">
            <ion-row class="bottom-solid">
                <ion-col >주문 금액</ion-col>
                <ion-col>{{amount.toLocaleString('en')}}{{'won'|translate}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>쿠폰 할인 금액</ion-col>
                <ion-col>{{couponDiscount.toLocaleString('en')}}{{'won'|translate}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>타킷 할인 금액</ion-col>
                <ion-col>{{takitDiscount.toLocaleString('en')}}{{'won'|translate}}</ion-col>
            </ion-row>
            <ion-row  class="bottom-solid">
                <ion-col>총 할인 금액</ion-col>
                <ion-col>{{totalDiscount.toLocaleString('en')}}{{'won'|translate}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>총 결제 금액</ion-col>
                <ion-col><span>{{totalAmount.toLocaleString('en')}}</span><span>{{'won'|translate}}</span></ion-col>
            </ion-row>
        </div>
    </div>


  <!--<div class="box" #takeoutDiv [hidden]="!(takeoutAvailable 
                                           && (storageProvider.shopInfo.freeDelivery==null || storageProvider.shopInfo.freeDelivery==undefined 
                                               || storageProvider.shopInfo.freeDelivery > amount))">
   <ion-row>  
    <ion-item class="orderToggle" ion-col>
      <ion-label class="orderOption">{{'takeout'|translate}}</ion-label>
      <ion-toggle class="onOff" [(ngModel)]="takeout" (ionChange)="changeTakeout(1)"></ion-toggle>
    </ion-item>
   </ion-row>
  </div>-->

  <!--<div class="box" #takeoutDiv [hidden]="!(takeoutAvailable && storageProvider.shopInfo.freeDelivery<=amount
                                           && (storageProvider.shopInfo.freeDelivery!=null  && storageProvider.shopInfo.freeDelivery!=undefined))">
   <ion-row style="padding:0px !important;border:1px;"> 
    <ion-item class="orderToggle" ion-col width-50>
      <ion-label class="pickupLabel">{{'takeout'|translate}}</ion-label>
      <ion-toggle class="onOff" [(ngModel)]="takeout" (ionChange)="changeTakeout(1)"></ion-toggle>
    </ion-item>
    <ion-item class="orderToggle" ion-col width-50>
      <ion-label class="pickupLabel">{{'delivery'|translate}}</ion-label>
      <ion-toggle class="onOff" [(ngModel)]="delivery" (ionChange)="changeTakeout(2)"></ion-toggle>
    </ion-item>
   </ion-row>-->
   

<!--<div id = "payDiv">
   <div id ="grayDiv">
   
    <ion-row class="textrow">
      <ion-col width-33 class="right">{{price}}{{'won'|translate}}</ion-col>
      <ion-col width-33 class="right">{{discount}}{{'won'|translate}}</ion-col>
      <ion-col width-33 class="right"><span style="color:#387ef5">{{amount}}</span>{{'won'|translate}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="cash">{{'availableCash'|translate}}</ion-col>
      <ion-col class="cash">{{storageProvider.cashAmount}}</ion-col>
    </ion-row>-->


  <!--</div>
    <ion-row [hidden]="!storageProvider.receiptIssue">
      <ion-col class="cash">현금영수증 발행 </ion-col>
      <ion-col class="cash">{{receiptIdMask}}</ion-col>
      <ion-col class="cash" *ngIf="storageProvider.receiptType=='IncomeDeduction'">소득공제</ion-col>
      <ion-col class="cash" *ngIf="storageProvider.receiptType=='ExpenseProof'">지출증빙</ion-col>
    </ion-row>
    <ion-row [hidden]="storageProvider.receiptIssue">
      <ion-col class="cash">현금영수증 발행을 원하시면 회원정보에서 설정해주시기 바랍니다</ion-col>
    </ion-row>
    <br>
    <div class="orderInfo cancelNoti">
      주문접수전에는 MyPage에서 주문 취소가 가능합니다. <br>
    </div>
   <div>
    <ion-row>
      <ion-col width-10 class="collapse">
      <ion-icon name="ios-information-circle" (click)="expand($event)"></ion-icon>
      </ion-col>
      <ion-col class="orderInfo title" width-90>
      원활한 주문을 위해 판매자에게 주문정보가 제공됩니다.
      </ion-col>
    </ion-row>-->
    <div class="div-agreement">
        <ion-row>
          <ion-col width-33 class="orderInfo">제공받는자</ion-col>
          <ion-col width-66 class="orderInfo1">{{shopName}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33 class="orderInfo">목적</ion-col>
          <ion-col width-66 class="orderInfo1">판매자와 구매자의 거래의 원활한 진행, 본인 의사의 확인, 고객상담 및 불만처리 등</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33 class="orderInfo">항목</ion-col>
          <ion-col width-66 class="orderInfo1">휴대폰번호</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33 class="orderInfo">제공기간</ion-col>
          <ion-col width-66 class="orderInfo1">주문 시점에서 주문준비 완료 또는 취소 이후 24시간</ion-col>
        </ion-row>
    </div>

</ion-content>
<ion-footer>
    <!--<ion-segment [hidden]="!iOSOrderButtonHide">
    <ion-segment-button value="shopcart" (click)="shopcart()">{{'shoppingCart'|translate}}</ion-segment-button>
    <ion-segment-button value="order" (click)="order()">{{'orderIt'|translate}}</ion-segment-button>
    </ion-segment>-->

    <ion-toolbar class="toolbar-shadow">
        <button (click)="order()" color="black" ion-button full clear>결제하기</button>
    </ion-toolbar>
</ion-footer>

