page-more {
 .extender {
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
    }

    .padder-center{
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .row-userInfo{
        padding-left: 20px;
        font-size:14px;
        background-color: white;
    }

    .div-btn-container{
        background-color: white;
        padding-top:20px;
        padding-bottom:20px;
        margin-top:30px;
    }

    .buttonRow{
        border-color:$main-color;
        border-bottom-width:1px;
        border-bottom-style:solid;
        margin-left:20px;
        margin-right:20px;
        .button-inner{
            justify-content: flex-start;
        }
    }

}
