page-menu-detail {

    .header-ios .toolbar-ios:last-child .toolbar-background-ios{
        background-color: $sub-color;
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .scroll-content{
        background-color: $sub-color;   
    }

    .div-menu-detail{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 5px;

        .p-name{
            position: absolute;
            top : 14%;
            background-color: white;
            padding: 10px;
        }

        .p-description{
            //position: absolute;
            margin: 20%;
        }

        img{
            width: 30%;
            height: 30%;
            border-radius: 100%;

        }
    }

    .div-amount{
        .div-options{
            border-top:1px solid;
            border-color:lightgray;
        }
    }

    .toolbar-shadow{
        padding: 0;
        .toolbar-content toolbar-content-ios{
            display: flex;
            flex-wrap: nowrap;
        }
        .div-footer-amount{
            display: flex;
        }
        .div-count{
            display: flex;
            width: 30%;
            ion-input, .text-input-ios{
                width: 20px;
            }
            button{
                padding: 0;
                margin: 0;
            }
        }
        .div-btn-order{
            width: 100%;
            display: flex;
        }
        button{
            margin:0;
            width: 50%;
        }
    }

}
