<!--
  Generated template for the OrderCompletePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button (click)="back()"  class="cancel-icon" color="black"  small ion-button no-margin clear>
          <ion-icon name="icon-cancel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>주문확인</ion-title>
    <ion-buttons end>
      <button *ngIf="order.orderStatus==='paid'" (click)="cancelOrder()" class="nav-btn" color="black" small ion-button no-margin clear>
          <p style="font-size:14px;">주문 취소</p>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="div-orderNO border-sub1">
        <p color="lightgrey">주문번호</p>
        <p color="mainColor">{{order.orderNO}}</p>
        <p color="subColor3">{{order.takitId}}</p>
    </div>

     <ion-row class="div-statusbar" *ngIf="order.orderStatus!=='cancelled'">
        <ion-col>
            <img src="./assets/history_bar_1_on.svg">
            <img src="./assets/history_bar_2_on.svg">
        </ion-col>
        <ion-col *ngIf="order.orderStatus==='paid'">
            <img src="./assets/history_bar_1_off.svg">
            <img src="./assets/history_bar_2_off.svg">
        </ion-col>
        <ion-col *ngIf="order.orderStatus!=='paid'">
            <img src="./assets/history_bar_1_on.svg">
            <img src="./assets/history_bar_2_on.svg">
        </ion-col>
        <ion-col *ngIf="order.orderStatus!=='completed'">
            <img src="./assets/history_bar_1_off.svg">
            <img src="./assets/history_bar_2_off.svg" *ngIf="order.takeout==2">
        </ion-col>
        <ion-col *ngIf="order.orderStatus==='completed'">
            <img src="./assets/history_bar_1_on.svg">
            <img src="./assets/history_bar_2_on.svg" *ngIf="order.takeout==2">
        </ion-col>
        <ion-col *ngIf="order.takeout==2 && order.orderStatus!=='completed'">
            <img src="./assets/history_bar_1_off.svg">
        </ion-col>
        <ion-col *ngIf="order.takeout==2 &&  order.orderStatus==='completed'">
            <img src="./assets/history_bar_1_on.svg">
        </ion-col>
    </ion-row> 
    <ion-row class="div-statusbar-p" *ngIf="order.orderStatus!=='cancelled'">
        <ion-col>
            <p>결제완료</p>
        </ion-col>
        <ion-col>
            <p>주문접수</p>
        </ion-col>
        <ion-col>
            <p>준비완료</p>
        </ion-col>
        <ion-col *ngIf="order.takeout==2">
            <p>배달출발</p>
        </ion-col>
    </ion-row>
     <ion-row class="div-statusbar-p" *ngIf="order.orderStatus==='cancelled'">
        <ion-col>
            <p>주문 취소</p>
            <p *ngIf="order.cancelReason">취소 사유:{{order.cancelReason}}</p>
        </ion-col>
    </ion-row>

    <div class="div-receipt-container bg-sub1">
        <div class="div-receipt-inner">
            <div class="bg-white">
                <img src="./assets/takit_full_logo.svg">
                <div *ngFor="let order of orderList.menus; let i=index" class="div-menuInfo">
                    <ion-row  class="top-dashed" class="row-menu">
                        <ion-col>{{order.menuName}} x{{order.quantity}}</ion-col>
                        <ion-col>{{(order.price*1).toLocaleString('en')}}원</ion-col>
                    </ion-row>
                    <ion-row *ngFor="let option of order.options" class="row-option">
                        <ion-col>+{{option.name}}</ion-col>
                        <ion-col *ngIf="option.select">({{option.select}})</ion-col>
                        <ion-col>{{(option.price*1).toLocaleString('en')}}원</ion-col>
                    </ion-row>
                </div>
                
                <ion-row *ngIf="orderList.prevAmount" class="bottom-solid">
                    <ion-col>주문 금액</ion-col>
                    <ion-col>{{orderList.prevAmount.toLocaleString('en')}}원</ion-col>
                </ion-row>
                 <ion-row *ngIf="orderList.takitDiscount" class="row-discount">
                    <ion-col>타킷 할인 금액</ion-col>
                    <ion-col>-{{orderList.takitDiscount.toLocaleString('en')}}원</ion-col>
                </ion-row>
                <ion-row *ngIf="orderList.couponDiscount">
                    <ion-col>쿠폰 할인 금액</ion-col>
                    <ion-col>-{{orderList.couponDiscount.toLocaleString('en')}}원</ion-col>
                </ion-row>
                
                <ion-row *ngIf="orderList.couponDiscount || orderList.takitDiscount" class="bottom-solid">
                    <ion-col>총 할인 금액</ion-col>
                    <ion-col>-{{totalDiscount.toLocaleString('en')}}원</ion-col>
                </ion-row>
                <ion-row class="row-total">
                    <ion-col>총 결제 금액</ion-col>
                    <ion-col color="sub3-color"><span>{{(order.amount*1).toLocaleString('en')}}</span><span>원</span></ion-col>
                </ion-row>
            </div>
        </div>
        <div class="div-receipt-inner2">
        </div>
    </div>
    <div text-center *ngIf="order.orderStatus==='checked'">* 주문 접수시 취소는 매장직원에게 직접 문의바랍니다. </div>
</ion-content>
