page-cash-password {
 scroll-content {
        display: flex;
        flex-direction: column;
    }
 
    ion-grid {
        padding: 0;
        height: 100%;
    }
 
    ion-row {
        flex: 1;
    }

     .box{
        border : 2px solid #afafaf;
        text-align: center;
        font-size:2.5em;
    }
    
    .vertical-container {
        height: 100%;
        display: -webkit-flex;
        display:         flex;
        -webkit-align-items: center;
                align-items: center;
        -webkit-justify-content: center;
                justify-content: center;
    }

}

