page-search {
    .underline{
        border-bottom-width:1px;
        border-bottom-style: solid;
        border-bottom-color:skyblue;
    }

    text-input{
        text-align:center;
    }
    text-input::-moz-placeholder {
        text-align: center;
    }

    .text-input:-ms-input-placeholder {
        text-align:center;
    }

    .text-input::-webkit-input-placeholder {
        text-align: center;
    }

    .text-input-ios {
        text-align:center;
    }
}
