page-password{
  .gradiPage{
        background-image: url('../assets/background/bg_gradiation.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .takit-icon{
        height:30vh;
    }

    .symbol-image{
        width: 50vw;
    }

    .extender {
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
    }

    .padder-center{
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    button{
        font-weight: bold;
    }

    .backbutton{
        font-size: large;
    }

    .backbutton-icon{
        font-size: xx-large;
    }

    .text-input{
        color:white;
        font-size: large;
        border-bottom: white;
        border-bottom-style: solid;
    }

    .button-ios-white {
        color: red;
    }

    // change the color of placeholder -begin  
    .text-input::-moz-placeholder {
        color: white;
    }

    .text-input:-ms-input-placeholder {
        color: white;
    }

    .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: white;
    }
    // change the color of placeholder -end  

    .explain{
        margin-bottom: 0px;
        text-align: center;
        color: white;
        font-size:small;
    }
}

