$icomoon-font-path: "../assets/fonts" !default;

$icon-cancel: "\0042";
$icon-cart: "\0043";
$icon-cash_2: "\0044";
$icon-cash: "\0045";
$icon-chat: "\0046";
$icon-coupun_bg: "\0047";
$icon-delete: "\0048";
$icon-down: "\004a";
$icon-favorite: "\004b";
$icon-history: "\004c";
$icon-list_1: "\004d";
$icon-list_2: "\004e";
$icon-location: "\004f";
$icon-next: "\0052";
$icon-phone: "\0053";
$icon-prev: "\0054";
$icon-up: "\005a";
$icon-atRestaurant: "\0041";
$icon-delivery: "\0049";
$icon-logo: "\0050";
$icon-menu: "\0051";
$icon-tab_home: '\0055';
$icon-tab_more: '\0056';
$icon-tab_mytakit: "\0057";
$icon-tab_mywallet: "\0058";
$icon-takeout: "\0059";

