page-cash-withdraw {
   .account{
        margin-top: 5vw;
        margin-bottom: 5vw;
        margin: 5vw;
        border-width: 2px;
        padding-top: 5vw;
        padding-bottom: 5vw;
        border-radius: 10px;
        box-shadow: 0px 0px 6px 1px #4c4c4c; 
    }

     .explain{
        //text-align: justify;
        white-space: normal;
        color:#7F7F7F;
        font-size: 1.3rem; 
        padding-left:20px;
        padding-right:20px;
    }

    .cashIdValue{
        color:#387ef5;
        border:1px solid #BEBEBE;
        border-radius: 4px;
        height:38px;
    }

    .btn-manage{
        width:50vw; 
        color:grey;
        border-radius: 2px solid;
        border-color:$sub-color;
        font-weight: 600;
    }

}
