<ion-navbar *navbar hideBackButton>
<ion-title>Takit Home</ion-title>
    <button menuToggle="leftMenu">
    <ion-icon name='menu'></ion-icon>
    </button>
</ion-navbar>

<ion-content class="errorPage">
<div class="upper">
</div>
<ion-row>
  <ion-col width-33></ion-col>
  <ion-col width-33><span class="reason">{{'failureConnectService'|translate}}</span></ion-col>
  <ion-col width-33></ion-col>
</ion-row>
<ion-row>
  <ion-col width-25></ion-col>
  <ion-col width-50>{{'TryItAgainLater'|translate}}</ion-col>
  <ion-col width-25></ion-col>
</ion-row>
<ion-row  *ngIf="storageProvider.isAndroid">
  <ion-col width-25></ion-col>
  <ion-col width-25>
    <button ion-button color="white" (click)="terminate($event)" full><ion-icon class="exitIcon" name="exit"></ion-icon>{{'exit'|translate}}</button> 
  </ion-col>
  <ion-col width-25>
    <button ion-button color="white" (click)="tryLogin($event)" full> {{'connectService'|translate}}</button> 
  </ion-col>
  <ion-col width-25></ion-col>
 </ion-row>   
 <ion-row  *ngIf="!storageProvider.isAndroid">
  <ion-col width-33></ion-col>
  <ion-col width-33>
    <button ion-button color="white" (click)="tryLogin($event)" full>{{'connectService'|translate}}</button> 
  </ion-col>
  <ion-col width-33></ion-col>
 </ion-row>   
</ion-content>


