page-cash-configure {
    .underline{
        border-bottom-width:1px;
        border-bottom-style: solid;
        border-bottom-color:black;
    }

    .label-ios {
        margin-top: 0px; 
        margin-bottom: 0px; 
    }
}
