page-order-history {
    .item-last{
        width: 65%;
        float:right;
        ion-select{
            width: 100%;
            max-width: 90%;
        }
    }

    .div-history{
        ion-row{
            padding: 0;
            margin: 0;
            border: solid 3px;
            border-radius: 10px;
            border-color: $sub-color;
        }
    }

    .div-favShop{
        display: flex;
        flex-wrap: wrap;
    }

    .list-favShop{
        width: 50%;
        
        //flex-basis :300px;
        img{
            width: 100%;
        }
    }

    .item-historyTitle{
        vertical-align: bottom;
    }

    ion-scroll {
        height: 150px;
        
    }

    .slides-history{
        vertical-align: top;
        height: 140px;
    }

    .slides-history button, .slides-history ion-item{
        height: 120px;
    }

    .historyScroll .scroll-content{
        // padding: 0px;
        padding: 0px 0px 0px 10px;
    }

    .card-ios{
        margin: 3px 2px 2px 3px;
    }

    .card-history{
        overflow: inherit;
        width : 33.3333%;
        height: 155px;
    }

    .card-history >button{
        height: 155px;
    }

    .card-history > button .button-inner{
        display: block;
    }

    .swiper-slide img {
        width:100%; 
        height: 110px;
    }

    .card-content-ios{
        padding: 0px;
    }

    .slidebar{
        width:10px;
        height: 10px;
    }



    //
    .card-shop{
        width: 100%;
        height: 120px;
    }

    .card-shop > ion-row{
        width: 100%;
        height: 120px;
    } 
    .card-shop > ion-row > ion-col {
        width: 120%;
        height: 120px;
    }

    .card-content-ios{
        padding: 0px;
    }

    .img-shop{
        width: 100%;
        height: 110px;
    }

    .btn-shop{
        height: 120px;
    }
}
