page-order-history {
    .segment-history{
        height: 50px;
        vertical-align: middle;
    }
    .segment-history .segment-button{
        border-style: none;
        font-size: 17px;
        
    }
    .btn-history{
        height: 99px;
    }

    .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
        width: 70px;
        height: 70px;
    }
}
