<ion-header>

  <ion-navbar hideBackButton="true">
      <ion-buttons start>
          <button ion-button clear navPop color="black">
            <ion-icon name="md-close"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>거래내역조회</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content-container">
    <ion-list style="margin-left:4vw;margin-right:4vw;">
            <div  *ngFor="let tr of transactions">
                <ion-row style="height:40px;">
                    <ion-col col-9 text-left>
                    <p style="margin-bottom:0px;">{{tr.date+"/"+tr.type}}</p>
                    </ion-col>
                    <ion-col col-3 text-right>
                    <p style="margin-bottom:0px;">{{tr.nowBalance}}</p>
                    </ion-col>
                </ion-row>
                <ion-row [ngStyle]="tr.style" class="radius-5">
                    <ion-col col-8 *ngIf="tr.transactionType=='deposit' && tr.confirm==0" (click)="addCash(tr)"> 
                        <button ion-button clear style="font-size:14px;margin-top:5px;" [disabled]="storageProvider.tourMode" >
                            <b>캐쉬충전확인</b>&nbsp;&nbsp;
                            <ion-icon name="ios-cash-outline"></ion-icon>    
                        </button>
                    </ion-col>
                    <ion-col col-8 *ngIf="tr.transactionType=='deposit' && tr.confirm==1">
                        <p style="font-size:14px;margin-top:10px;"><b>캐쉬충전</b></p>
                    </ion-col>
                    <ion-col col-8 *ngIf="tr.transactionType=='refund' && tr.fee==undefined">
                        <p style="font-size:14px;margin-top:20px;"><b>캐쉬환불</b></p>
                        <p style="font-size:12px;" *ngIf="tr.bankName!=undefined" > {{tr.bankName}} </p>
                        <p style="font-size:12px;" *ngIf="tr.bankName==undefined && tr.bankCode!=undefined" > {{tr.bankCode}} </p>
                    </ion-col>
                    <ion-col col-8 *ngIf="tr.transactionType=='refund' && tr.fee!=undefined">
                        <p style="font-size:14px;margin-top:20px;"><b>캐쉬환불</b></p>
                        <p style="font-size:12px;" *ngIf="tr.bankName!=undefined" > {{tr.bankName}} &nbsp;&nbsp; 수수료:{{tr.fee}} </p>
                        <p style="font-size:12px;" *ngIf="tr.bankName==undefined && tr.bankCode!=undefined" > {{tr.bankCode}} &nbsp;&nbsp; 수수료:{{tr.fee}} </p>
                    </ion-col>
                    <ion-col col-8 *ngIf="tr.transactionType=='payment' && tr.takitId!=undefined"> 
                        <p style="font-size:14px;margin-top:20px;"><b>{{tr.takitId}}</b></p>
                        <p style="font-size:12px;">{{tr.orderName}}</p>
                    </ion-col>   
                    <ion-col col-8 *ngIf="tr.transactionType=='payment' && tr.takitId==undefined"> 
                        <p style="font-size:14px;margin-top:20px;"><b>주문</b></p>
                    </ion-col>                       
                    <ion-col col-8 *ngIf="tr.transactionType=='cancel' && tr.takitId!=undefined"> 
                        <p style="font-size:14px;margin-top:20px;"><b>{{tr.takitId}}</b></p>
                        <p style="font-size:12px;">{{tr.orderName}}</p>
                    </ion-col>   
                    <ion-col col-8 *ngIf="tr.transactionType=='cancel' && tr.takitId==undefined"> 
                        <p style="font-size:14px;margin-top:20px;"><b>주문취소</b></p>
                    </ion-col>   
                    <ion-col col-4 text-right *ngIf="tr.transactionType=='cancel'">
                        <p style="font-size:15;margin-top:40px;color:blue;"><b>+{{tr.amount}}</b></p>
                    </ion-col>
                    <ion-col col-4 text-right *ngIf="tr.transactionType=='deposit' && tr.confirm==1">
                        <p style="font-size:15;margin-top:15px;color:blue;"><b>+{{tr.amount}}</b></p>
                    </ion-col>
                    <ion-col col-4 text-right *ngIf="tr.transactionType=='deposit' && tr.confirm==0" (click)="addCash(tr)">
                        <p style="font-size:15;margin-top:15px;color:gray;"><b>{{tr.amount}}</b></p>
                    </ion-col>
                    <ion-col col-4 text-right *ngIf="tr.transactionType=='refund' || tr.transactionType=='payment'">
                        <p style="font-size:15;margin-top:40px;color:red;"><b>-{{tr.amount}}</b></p>
                    </ion-col>
                </ion-row>
            </div>
    </ion-list>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
    
</ion-content>
