<ion-header>
  <ion-navbar>
        <ion-title>
      자주가는 상점에서도<br> 
      온라인 주문하세요
       </ion-title>
  </ion-navbar>

</ion-header>
<ion-content #tutorialContent>
  <ion-grid>
    <ion-row>
          &nbsp;&nbsp;
    </ion-row>
    <ion-row *ngIf="!storageProvider.tutorialShownFlag" >
      <ion-col col-3>
      </ion-col>
      <ion-col col-6 style="text-align:center;">
          <button ion-button disabled full large> 회원가입</button>
      </ion-col>
      <ion-col col-3>
      </ion-col>
    </ion-row>

  <ion-row *ngIf="!storageProvider.tutorialShownFlag" >
    <ion-col col-5>
    </ion-col>
    <ion-col col-2 style="text-align:center;">
      <!--
      <img style="height:15vw;" src="assets/arrow_gray.png"/>
      -->
      <ion-icon style="font-size: xx-large;padding-top: 15px;" name="md-arrow-round-down"></ion-icon>
    </ion-col>
    <ion-col col-4>
    </ion-col>
  </ion-row>
    <ion-row>
    <ion-col col-3>
    </ion-col>
    <ion-col col-6 style="text-align:center;">
    <button ion-button outline *ngIf="stage=='configureCash' && !storageProvider.tutorialShownFlag" (click)="configureCash()">캐쉬아이디설정</button>
     <button ion-button full *ngIf="stage!='configureCash' || storageProvider.tutorialShownFlag" (click)="configureCash()">캐쉬아이디설정</button>
    </ion-col>
    <ion-col col-3>
      <img *ngIf="stage=='configureCash' && !storageProvider.tutorialShownFlag" style="height:10vw;" src="assets/icon_siteclick.png"/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-5>
    </ion-col>
    <ion-col col-2 style="text-align:center;">
      <ion-icon style="font-size: xx-large;padding-top: 15px;" name="md-arrow-round-down"></ion-icon>
    </ion-col>
    <ion-col col-4>
    </ion-col>
  </ion-row>
    <ion-row>
          <ion-col col-3>
          </ion-col>
          <ion-col col-6 style="text-align:center;">
          <button ion-button outline *ngIf="stage=='despoitCash' && !storageProvider.tutorialShownFlag" (click)="depositCash()">캐쉬충전</button>
          <button ion-button full *ngIf="stage!='despoitCash' || storageProvider.tutorialShownFlag" (click)="depositCash()">캐쉬충전</button>
          </ion-col>
          <ion-col col-3>
            <img *ngIf="stage=='despoitCash' && !storageProvider.tutorialShownFlag" style="height:10vw;" src="assets/icon_siteclick.png"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
          </ion-col>
          <ion-col col-2 style="text-align:center;">
      <ion-icon style="font-size: xx-large;padding-top: 15px;" name="md-arrow-round-down"></ion-icon>
          </ion-col>
          <ion-col col-4>
          </ion-col>
        </ion-row>
    <ion-row>
          <ion-col col-3>
          </ion-col>
          <ion-col col-6 style="text-align:center;">
          <button ion-button outline *ngIf="stage=='order' && !storageProvider.tutorialShownFlag" (click)="order()">주문</button>
          <button ion-button full *ngIf="stage!='order' || storageProvider.tutorialShownFlag" (click)="order()">주문</button>
          </ion-col>
          <ion-col col-3>
            <img *ngIf="stage=='order'  && !storageProvider.tutorialShownFlag" style="height:10vw;" src="assets/icon_siteclick.png"/>
          </ion-col>
        </ion-row>
        <ion-row>
          &nbsp;&nbsp;
        </ion-row> 
        <ion-row *ngIf="!storageProvider.tutorialShownFlag"> 
          <ion-col col-3>
          </ion-col>
          <ion-col col-6 style="text-align:center;">
            <button ion-button large clear icon-right (click)="startTakit()" color="primary">
              타킷 주문 시작하기  
              <ion-icon name="ios-arrow-forward-outline"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-3>
          </ion-col>
        </ion-row>
        <ion-row>
          &nbsp;&nbsp;
        </ion-row>
  </ion-grid>
</ion-content>