page-old-order {
    .list-oldOrder{
        margin: 10px;
        //width:100%; 
        padding: 13px;
        p:nth-child(1){
            font-size:15px;
            font-weight: 600;
            margin:0;
            margin-bottom:10px;
        }

        .amount-highlight{
            font-size:17px;
        }
        span:nth-child(3){
            font-weight: 600;
        }

        .p-count{
            margin-top:10px;
            margin-bottom: 0;
            color:grey;
            font-weight: 600;
        }
    }

    
}
