<!--
  Generated template for the ShopAbout page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true" >
    <ion-buttons start>
        <button navPop class="nav-btn" color="subColor2" small ion-button no-margin clear>
            <ion-icon name="icon-prev"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>{{storageProvider.shopName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-sub1" padding>
    <div>
        <ion-row class="row-about">
            <ion-col style="text-align: -webkit-center;">
                <p>더큰도시락</p>
                <ion-item color="item-about" *ngIf="storageProvider.shopInfo.ownerImagePath" no-lines >
                    <ion-avatar style="text-align: -webkit-center;">
                        <img style="text-align:center; width:120px; height:120px;" [src]="storageProvider.awsS3+storageProvider.shopInfo.ownerImagePath">
                    </ion-avatar>
                </ion-item>
                <p>{{storageProvider.shopInfo.introduce}}</p>
                <a  [href]="storageProvider.shopInfo.snsAddress" *ngIf="storageProvider.shopInfo.snsAddress">BLOG</a>
            </ion-col>
        </ion-row>
    </div>
    <ion-row class="row-business bg-white">
        <ion-col>
            <p>영업시간 | 평일 {{businessTime[1]}} / 주말 {{businessTime[6]}}</p>
            <p>주문 가능 시간 | <span *ngFor="let aoTime of orderAvailTime; let i=index">{{aoTime}}
                                <span *ngIf="i!==orderAvailTime.length-1"> / </span></span></p>
            <p>(브레이크 타임 | <span *ngFor="let bTime of breakTime; let i=index">{{bTime}}
                                <span *ngIf="i!==breakTime.length-1"> / </span></span>)</p> 
            <p>주소 | {{storageProvider.shopInfo.address}}</p>
            <p>전화번호 | {{storageProvider.shopInfo.shopPhone}}</p>
            <!--전화번호는 바로 전화 걸 수 있도록-->
        </ion-col>
    </ion-row>
    <ion-row *ngIf="notice">
        <p>알림</p>
        <p>{{notice}}</p>
    </ion-row>
    <!-- <div>
        <h6> REVIEW</h6>
        <ion-list *ngIf="storageProvider.shopInfo.reviewList">
            
        </ion-list>
        <ion-list *ngIf="!storageProvider.shopInfo.reviewList || storageProvider.shopInfo.reviewList.length===0">
            <p>작성된 리뷰가 없습니다.</p>
        </ion-list>
    </div>
      -->
    
    <ion-fab bottom color="white" bottom right>
        <button class="fab-btn" ion-fab color="white">
            <ion-icon name="icon-floating_open">
            </ion-icon>
        </button>
        <ion-fab-list side="left">
            <button class="btn-shadow" (click)="enterCart()" ion-button color="white">
                <ion-icon name="icon-cart"></ion-icon>
            </button>
            <button class="btn-shadow" (click)="enterOldOrder()" ion-button color="white">
                <ion-icon name="icon-list_2"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
