page-cash-tutorial {
    
    .slide-tt{
        text-align: center;
        img{
            width: 55%;
        }
        .p-desc-title{
            color: $main-color;
            font-weight: 600;
        }
        .p-desc-contents{
            margin-left:30px;
            margin-right:30px;
            font-size:15px;
        }

    }

    .swiper-pagination-bullet-active{
        background: $main-color;
    }
    
}
