<!--
  Generated template for the CashTutorialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar hideBackButton="true" >
      <ion-buttons start>
        <button (click)="enterLoginPage()" class="cancel-icon" color="black" small ion-button no-margin clear>
            <ion-icon name="icon-cancel"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>캐쉬 충전 방법</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
    <!-- <ion-slides #Slides (ionSlideTap)="slideTap()" pager=true paginationType="bullet"> -->
    <ion-slides #Slides pager=true paginationType="bullet">
        <ion-slide *ngFor="let tt of tutorials; let i=index" class="slide-tt">
            <div class="div-tuto-container">
                <img  [src]="tt.img">
            </div>
            <div class="div-description">
                <p  class="p-desc-title">{{tt.title}}</p>
                <p  class="p-desc-contents">{{tt.contents}}</p>
                <a *ngIf="i===0" href="http://www.takit.biz/cashId.html">토스/주요은행 캐쉬아이디 입력방법</a>
            </div>
        </ion-slide>
    </ion-slides>
    

</ion-content>
