page-cashconfirm{    
    .memo{
        border-style: dotted;
        border-left-width: 0px;
        border-right-width: 0px;
        margin-left: 30px;
        margin-right: 30px;
        border-color:#cde5e6;
        font-size:larger;
        color:#cde5e6;
        height:15vh;
    }

    .time{
        border-style: dotted;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        margin-left: 30px;
        margin-right: 30px;
        border-color:#cde5e6;
        color:gray;
    }
    ion-content > .fixed-content{
        margin: 5vw;
        border-width: 1px;
        border-color: #cde5e6;
        border-style: solid;
    }

    .buttonSkyBlue{
        color: white;
        background-color:  #cde5e6;
    }
}


