
<ion-header *ngIf="trigger">
  <ion-navbar hideBackButton="true">
      <ion-buttons start>
          <button (click)="back()" class="cancel-icon" ion-button clear color="black">
            <ion-icon name="icon-cancel"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>타킷 사용 방법</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #tutorialContent>
  <!-- <ion-slides #Slides (ionSlideTap)="slideTap()" (ionSlideWillChange)="slideChanged()"  > -->
    <ion-slides #Slides (ionSlideWillChange)="slideChanged()"  >
        <ion-slide *ngFor="let img of tutorialImg; let i=index" [ngStyle]="{'background':'url('+img+') no-repeat','background-size':'100% 100%'}" class="slide-event">
            <div class="div-tuto-container">
                <!-- <img [src]="img"> -->
                <button *ngIf="i===4 && !trigger" class="btn-start" (click)="startTakit()" color="white" ion-button full >타킷으로 주문 시작  ></button>    
                <button *ngIf="i===4 && trigger==='more'" class="btn-start" (click)="enterCashTutorial()" color="white" ion-button full >캐쉬 충전 알아보기  ></button>         
                <button *ngIf="i===4 && trigger==='more'" class="btn-cashTutorial" (click)="enterOrderTutorial()" color="white" ion-button full >주문 알아보기  ></button>      
            </div>
        </ion-slide>
        <!--
         <ion-slide class="slide-event">
            <div class="div-tuto-container">
                <img [src]="tutorialImg[4]">
            </div>
                         </ion-slide>
         -->
    </ion-slides>
</ion-content>