page-tutorial {
    .div-tuto-container{
        position:relative;

        .btn-start{
            position: absolute;
            z-index: 999;
            top:50%;
        }
        .btn-cashTutorial{
            position: absolute;
            z-index: 999;
            top:63%;
        }

        .btn-start, .btn-cashTutorial{
            border-radius: 5px;
            box-shadow: 0px 0px 6px 1px #4c4c4c; 
            color:$main-color;
            font-weight: 900;
            font-size: 18px;

        }

    }
}
